<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>确定延迟</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <br>
    <div class="cDGray" align="center">
      确定延迟(带<i>*</i>为必填项) <%=link_to "返回",:action=>"list_2"%>

      <div style="color:red"><%=flash[:notice]%></div>
    </div>
    <br>
    <%form_for :remind1 ,:url=>{:action=>"delay_create_2", :condi_s=>params[:condi_s],:page=>params[:page],:page_lines=>params[:page_lines]}  do |f|%>
      <table class="list">
        <tr>
          <th nowrap>
            延迟天数:
          </th>
          <td>
            <%=f.text_field(:day1)%>
            <div style="color:red"><%=error_message_on(:remind1,:day1)%></div>
          </td>
        </tr>
      </table>
      <div align="center"><%=submit_tag "提交" %></div>
    <%end%>
  </body>
</html>
