<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>工时汇总信息维护</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%if session[:recevice_code_2]==nil%>
      <script language="javascript">
        window.open("/case_p/list_2?contr_r=remuneration_set&act_r=list","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">工时汇总信息维护</span></div>
    <div align="center">
      <%if @case==nil%>
        请选择您要办理的案件
      <%end%>
      <%=button_to "案件选择", :controller=>'case_p',:action=>"list_2",:contr_r=>"remuneration_set",:act_r=>"list"%>
      <br>
      <%if @case!=nil%>
        当前案件
      </div>
      <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
      </tbody>
    </table>
    <table class="list" width="95%">
     <tr>
       <th>在计算审限时应扣除的时段</th>
       <td>
           <%=h @case.limit_deduct_t%>
       </td>
     </tr>
     <tr >
        <th>
          原因
        </th>
        <td>
          <%=h @case.limit_deduct_text%>
        </td>
      </tr>
    </table>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration1_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration2_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration3_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration9_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration6_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration8_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration4_set/list_2"  noresize  style="width:700px;height:590px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe id="bonus_penalty" frameborder=0 src="/bonus_penalty/list_2"  noresize  style="width:700px;height:300px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration5_set/list_2"  noresize  style="width:700px;height:240px" align=center> </iframe>
    
  
  
    <%end%>
  </body>
</html>