<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>修改 庭审、调解信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag  'WebCalendar'%> 
  </head>
  <body>
  <div class="cDGray">修改庭审和调解信息(带<i>*</i>为必填项)  <%=link_to "返回",:action=>"list_2"%>
  </div>
 <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :remun ,:url=>{:action=>"update_2",:id=>params[:id]}  do |f|%>
      <table class="list">  
        <tr>
          <th>
            仲裁员类型:
          </th>
          <td>
            <%=TbDictionary.find(:first,:conditions=>"typ_code='0014' and data_val='#{@remun.typ}'").data_text%>
          </td>
        </tr>
        <tr>
          <th>
            仲裁员:
          </th>
          <td>
            <%=TbArbitman.find_by_code(@remun.arbitman).name%>
          </td>
        </tr>
        <tr>
          <th>
            <i>*</i>工作时间:
          </th>
          <td>
            <%=f.text_field(:h)%>小时
            <div style="color:red"><%=error_message_on(:remun,:h)%></div>
          </td>
        </tr>
      </table>
      <div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
            
  </body>
</html>