<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>组庭信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%if session[:recevice_code]==nil%>
      <script language="javascript">
        window.open("/case_p/list?contr_r=caseorg&act_r=caseorg_list","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">组庭信息</span></div>
    <div align="center">
      <%if @case==nil%>
        请选择您要办理的案件
      <%end%>
      <%=button_to "案件选择", :controller=>'case_p',:action=>"list",:contr_r=>"caseorg",:act_r=>"caseorg_list"%>
      <br/>
      <%if @case!=nil%>
        当前案件
      </div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr >
            <th nowrap>
              咨询流水号
            </th>
            <th nowrap>
              咨询日期
            </th>
            <th nowrap>
              立案号
            </th>
            <th nowrap>
              立案日期
            </th>
            <th nowrap>
              审限日期
            </th>
            <th nowrap>
              申请人
            </th>
            <th nowrap>
              被申请人
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=h @case.recevice_code%>
            </td>
            <td>
              <%=h @case.receivedate%>
            </td>
            <td>
              <%=h @case.case_code%>
            </td>
            <td>
              <%=h @case.nowdate%>
            </td>
            <td>
              <%=h @case.finally_limit_dat%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
        <br>
          <hr size="1" color="#99CCFF" noshade>
            <br>
              <div align="center" class="cDGray">
                组庭信息
                <%if @caseorg.length==0%><%=link_to  "创建", :action=>"caseorg_new",:code=>@case.recevice_code%><%end%>
                <div style="color:red"><%=flash[:notice]%></div>
              </div>
              <table cellspacing="1" class="adminlist">
                <thead>
                  <tr >
                    <th nowrap>
                      组庭时间
                    </th>
                    <th nowrap>
                      组庭通知发出日期
                    </th>
                    <!--th nowrap>
                     送达方式
                   </th-->
                    <th nowrap>
                      组庭后计算出的审限日期
                    </th>
                    <th nowrap>
                      修改
                    </th>
                    <th nowrap>
                      删除
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <%c_c=@caseorg.length%>
                  <%c_i=0%>
                  <%i=0%>
                  <%for p in @caseorg%>
                    <%c_i=c_i + 1%>
                    <tr class="row<%=i % 2%>">
                      <!--td>
                        <#%=TbDictionary.find(:first,:conditions=>"typ_code='0012' and data_val='#{p.orgstyle}'").data_text%>
                      </td-->
                      <td>
                        <%=p.orgdate%>
                      </td>
                      <td>
                        <%=p.sendrdate%>
                      </td>
                      <!--td>
                        <#%=TbDictionary.find(:first,:conditions=>"typ_code='0013' and data_val='#{p.sendrstyle}'").data_text%>
                      </td-->
                      <!--td>
                        <#%=p.assigndate%>
                      </td-->
                      <td>
                        <%=p.limitdate%>
                      </td>
                      <td>
                        <%if c_i==c_c%>
                          <%=link_to "修改",:action=>"caseorg_edit",:id=>p%>
                        <%end%>
                      </td>
                      <td>
    <%#if TbCasedelay.find(:all,:conditions=>"used='Y' and recevice_code='#{@case.recevice_code}'").empty?%>
                        <%if c_i==c_c%>
                          <%=button_to "删除",{:action=>"caseorg_delete",:id=>p},:confirm=>"您确认要删除吗？"%>
                        <%end%>
    <%#end%>
                      </td>
                    </tr>
                    <%i=i+1%>
                  <%end%>
                </tbody>
              </table>
            <%end%>
            </body>
            </html>