<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>补充裁决</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue"><div align="center">
    补充裁决信息
    </div></span></div>
      <table cellspacing="1" class="adminlist">
        <thead>
        <tr>
          <th nowrap>
           提出人
          </th>
          <th nowrap>
            提出日期
          </th>
          <th nowrap>
            是否在30日内提出
          </th>
          <th nowrap>
            仲裁庭决定
          </th>
        <th nowrap>
          修改
        </th>
        <th nowrap>
          删除
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @addarbit%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=p.requestMan%>
        </td>
        <td>
          <%=p.requestDate%>
        </td>
        <td>
          <%=p.objection%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='8121'  and  data_val='#{p.decide}'").data_text%>
        </td>
        <td>
          <%=link_to "修改",:action=>"addarbit_edit",:id=>p,:caseend_book_id=>params[:caseend_book_id]%>
        </td>
        <td>
            <%=button_to "删除",{:action=>"addarbit_delete",:id=>p,:caseend_book_id=>params[:caseend_book_id]},:confirm=>"您确认要删除吗？"%>
        </td>
      </tr>
      <%i=i+1%>
      <%end%>
      </tbody>
    </table>
    <div align="center">
       <%=link_to  "创建", :action=>"addarbit_new",:caseend_book_id=>params[:caseend_book_id]%>
      <div style="color:red"><%=flash[:notice]%></div>
    </div>
  </body>
</html>
