<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>案件 办案其它报酬_案件</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <%if session[:recevice_code_2]==nil%>
    <script language="javascript">
      window.open("/case_p/list_2?contr_r=remuneration23_set&act_r=list","mainFrame")
    </script>
  <%end%>
</head>
<body>
<div class="title"><span class="cBlue">办案其它报酬_案件</span></div>
<div align="center">
  <%if @case==nil%>
    请选择您要办理的案件
  <%end%>
  <%=button_to "案件选择", :controller=>'case_p',:action=>"list_2",:contr_r=>"remuneration23_set",:act_r=>"list"%>
  <br>
  <%if @case!=nil%>
    当前案件
  </div>
  <table cellspacing="1" class="adminlist">
    <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
    </tbody>
  </table>
  <br>
  <br>
  <hr size="1" color="#99CCFF" noshade>
  <br>
  <div align="center" class="cDGray">
    其它办案报酬
    <%=link_to  "创建仲裁员出差补助", :action=>"new_2"%>  <%=link_to  "创建", :action=>"new"%> 
    <div style="color:red"><%=flash[:notice]%></div>
  </div>
  <table cellspacing="1" class="adminlist">
  <thead>
    <tr >
      <th nowrap>
        人员类型
      </th>
      <th nowrap>
        人员
      </th>
      <th nowrap>
        类型
      </th>
      <th nowrap>
        应发报酬
      </th>
      <th nowrap>
        应扣税款
      </th>
      <th nowrap>
        实发报酬
      </th>
      <th nowrap>
        金额明细
      </th>
      <th nowrap>
        备注
      </th>
      <th nowrap>
        删除
      </th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%for p in @remun%>
    <tr class="row<%=i % 2%>">
      <td>
        <%=@p_typ[p.p_typ]%>
      </td>
      <td>
        <%if p.p_typ=='0001'%>
          <%=TbArbitman.find_by_code(p.p).name%>
        <%else%>
          <%@u=User.find_by_code(p.p)%>
          <%if @u!=nil%>
            <%=@u.name%>
          <%end%>
        <%end%>
      </td>
      <td>
        <%=TbDictionary.find(:first,:conditions=>"typ_code='0050' and data_val='#{p.typ}'").data_text%>
      </td>
      <td>
        <%=p.should_rmb%>
      </td>
      <td>
        <%=p.tax_rmb%>
      </td>
      <td>
        <%=p.extend_rmb%>
      </td>
      <td>
        <%c="recevice_code='#{session[:recevice_code_2]}' and used='Y' and parent_id=#{p.id}"%>
        <%@remun=TbRemuneration23.find(:all,:order=>'typ',:conditions=>c) %>
        <table width=100%>
          <%for remun in @remun%>
          <tr>
            <td>
              <%=TbDictionary.find(:first,:conditions=>"typ_code='0050' and data_val='#{remun.typ}'").data_text%>
            </td>
            <td>
              <%=remun.extend_rmb%>
            </td>
          </tr>
          <%end%>
        </table>
      </td>
      <td>
        <%=p.remark%>
      </td>
      <td>
        <%if p.extend_code=='' %>
            <%=button_to "删除",{:action=>"delete",:id=>p},:confirm=>"您确认要删除吗？"%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>
  </tbody>
  </table>
<%end%>
</body>
</html>