<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>工时汇总信息维护</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%if session[:recevice_code_1]==nil%>
      <script language="javascript">
        window.open("/case_p/list_1?contr_r=remuneration&act_r=list","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">工时汇总信息维护</span></div>
    <div align="center">
      <%if @case==nil%>
        请选择您要办理的案件
      <%end%>
      <%=button_to "案件选择", :controller=>'case_p',:action=>"list_1",:contr_r=>"remuneration",:act_r=>"list"%>
      <br>
      <%if @case!=nil%>
        当前案件
      </div>
      <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
      </tbody>
    </table>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration1/list_2"  noresize  style="width:700px;height:220px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration2/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration3/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration9/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration6/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration8/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration4/list_2"  noresize  style="width:800px;height:590px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration_time_less/list_2"  noresize  style="width:700px;height:150px" align=center> </iframe>
    <hr size="1" color="#99CCFF" noshade>
    <iframe frameborder=0 src="/remuneration5/list_2"  noresize  style="width:700px;height:200px" align=center> </iframe>
    
    
  
  
  
    <%end%>
  </body>
</html>