<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>咨询案件费用情况</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/check.js"></script>
  </head>
  <body>
    <div class="title"><span class="cBlue">咨询案件费用情况</span></div>
    <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
    <div style="color:red"><%=flash[:notice]%></div>
    <div align="left"><%if @hant_search_1_text!=nil%>&nbsp;查询条件：<%=@hant_search_1_text%><%end%></div>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr>
          <th nowrap>
            <%if @order=="tb_cases_recevice_code desc"%>
              <%=link_to '咨询流水号↑',:action=>"list",:order=>"tb_cases_recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="tb_cases_recevice_code asc"%>
              <%=link_to '咨询流水号↓',:action=>"list",:order=>"tb_cases_recevice_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '咨询流水号',:action=>"list",:order=>"tb_cases_recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            <%if @order=="tb_cases_ReceiveDate desc"%>
              <%=link_to '咨询日期↑',:action=>"list",:order=>"tb_cases_ReceiveDate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="tb_cases_ReceiveDate asc"%>
              <%=link_to '咨询日期↓',:action=>"list",:order=>"tb_cases_ReceiveDate desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '咨询日期',:action=>"list",:order=>"tb_cases_ReceiveDate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            申请人
          </th>
          <th nowrap>
            被申请人
          </th>
          <th nowrap>
            总争议金额
          </th>
          <th>
            应收
          </th>
          <th>
            减交
          </th>
          <th>
            实收
          </th>
          <th>
            欠缴
          </th>
          <th>
            咨询助理
          </th>
          <th>
            选定的仲裁机构
          </th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%for c in @case%>
          <tr class="row<%=i % 2%>">
            <td>
              <%=h c.tb_cases_recevice_code%>
            </td>
            <td>
              <%=h c.tb_cases_receivedate%>
            </td>
            <td>
              <div align="left">
                <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{c.tb_cases_recevice_code}'",:order=>"id")%>
                <%ttpp=''%>
                <%for tp in @tp%>
                  <%ttpp=ttpp + tp.partyname + " <br>" %>
                <%end%>
                <%if ttpp!=''%>
                  <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
                <%end%>
                <%=ttpp%>
              </div>
            </td>
            <td>
              <div align="left">
                <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{c.tb_cases_recevice_code}'",:order=>"id")%>
                <%ttpp=''%>
                <%for tp in @tp%>
                  <%ttpp=ttpp + tp.partyname + " <br>" %>
                <%end%>
                <%if ttpp!=''%>
                  <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
                <%end%>
                <%=ttpp%>
              </div>
            </td>
            <td>
              <%=SysArg.compart1(c.tb_cases_amount)%>
            </td>
            <%
            # 应交
            c1=TbShouldCharge.sum("rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}'")
            # 实交
            c2=TbShouldCharge.sum("re_rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}'")
            # 减交
            c3=TbShouldCharge.sum("redu_rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}'")
            # 应退
            c4=TbShouldRefund.sum("rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}' and state<>3")
            # 实退
            c5=TbShouldRefund.sum("re_rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}'  and state<>3")
            # 减退
            c6=TbShouldRefund.sum("redu_rmb_money",:conditions=>"(typ='0001' or typ='0004') and used='Y' and recevice_code='#{c.tb_cases_recevice_code}'  and state<>3")
            if c1==nil
              c1=0
            end
            if c2==nil
              c2=0
            end
            if c3==nil
              c3=0
            end
            if c4==nil
              c4=0
            end
            if c5==nil
              c5=0
            end
            if c6==nil
              c6=0
            end

            c_rmb_money=c1 - (c4 - c6)
            c_redu_rmb_money=c3
            c_re_rmb_money=c2 - c5
            c_c=c_rmb_money - c_re_rmb_money - c_redu_rmb_money
          %>
            <td>
              <%=c_rmb_money%>
            </td>
            <td>
              <%=c_redu_rmb_money%>
            </td>
            <td>
              <%=c_re_rmb_money%>
            </td>
            <td>
              <%=c_c%>
            </td>
            <td>
              <%@zl=TbCase.find_by_recevice_code(c.tb_cases_recevice_code).clerk_2%>
              <%if @zl!=nil and @zl!=""%>
                <%username=User.find(:first,:conditions=>["used='Y' and code=?",@zl])%>
                <%if username!=nil%>
                  <%=username.name%>
                <%end%>
              <%end%>
            </td>
            <td>
              <%=TbDictionary.find_by_typ_code_and_data_val_and_used_and_state("0004",c.tb_cases_agent,"Y","Y").data_text%>
            </td>
          </tr>
          <%i=i+1%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7" align="right">
            <%= link_to '上一页', { :page => @case_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.previous %>
            <%=pagination_links( @case_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
            <%= link_to '下一页', { :page => @case_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.next %>

            <%if @case_pages.current.previous or @case_pages.current.next%>
              <form action="/recevice_fee_sum/list" method="get" onsubmit="return page_check('page_lines','page');">
                每页<input type=text name='page_lines' id='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
                <input type=text name='page' id='page' size=5 class="SingleLineInput" value=<%= @case_pages.current.number %> />
                <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                页
                <input type=hidden name='order' value="<%=@order%>" />
                <input type='submit' value='确定' />
              </form>
            <%end%>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>