<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>修改案件延期信息</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="cDGray" align="center">修改案件延期信息(带<i>*</i>为必填项)   <%=link_to "返回",:action=>"ampliation_list"%>
  <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :ampliation ,:url=>{:action=>"ampliation_update",:id=>params[:id]}  do |f|%>
      <table class="list">
        <tr >
          <th nowrap>
            提出人类型:
          </th>
          <td>
            <%=TbDictionary.find(:first,:conditions=>"typ_code='8110'  and  data_val='#{@ampliation.requestman_typ}'").data_text%>
          </td>
        </tr>
        <!--tr>
          <th>
           <i>*</i>提出人:
           </th>
          <td>
            <#%=@ampliation.requestman%>
          </td>
        </tr-->
        <tr >
          <th>
           提出日期:
          </th>
          <td>
            <%=@ampliation.requestdate%>
          </td>
        </tr>
        <tr >
          <th>
            组庭后计算出的审限日期:
          </th>
          <td>
             <%=@ampliation.delayTerm%>
          </td>
        </tr>

        <tr >
          <th>
            延期日期:
          </th>
          <td>
             <%=@ampliation.delayDate%>
          </td>
        </tr>

        <tr>
          <th>
            <i>*</i>原因:
          </th>
          <td>
            <%=f.text_area(:reason,:rows=>4)%> <i><%=error_message_on(:ampliation,:reason)%></i>
          </td>
        </tr>

       </table>
        <br><div align="center">
        <%=submit_tag "提交" %>
      </div>
     <%end%>
  </body>
</html>
