<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>咨询 登录</title>
    <%if params[:bg]==nil %><link href="/stylesheets/style.css" rel="stylesheet" type="text/css" /><%end%>
  </head>
  <body <%if params[:bg]==nil %> class="high" <%end%> onload="document.getElementById('code').focus();">
    <div id="login_top"><br /></div>

    <div id="login_content">
      <div id="conten"><%if params[:bg]==nil %><img src="/images/picture/login_bj_02.jpg" width="771" height="185" /> <%end%></div>
      <div id="login">
        <form method="post" action="/step1/login_do">
        <div id="comments_form">
          
          <fieldset>
            <p>
              <label for="author">编码: </label>
              <input type="password" name="l_code" id="code" style="width:6em"/>
            </p>
          </fieldset>
          <table align="right"><tr><td align="right">
          <div align="left" style="color:red"><%=flash[:login]%></div>
          </td></tr>
          </table>
        </div>
        <div id="commen_form">
          <fieldset>
            <p>
              <input name="" type="submit" class="button_01" value="登录" />
              <input name="" type="reset" class="button_01" value="重置" />
            </p>
          </fieldset>
        </div>
        </form>
      </div>
      <div><%if params[:bg]==nil %><img src="/images/picture/login_bj_04.jpg" width="771" height="203" /><%end%></div>
    </div>
  </body>
</html>
