<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

  </head> <!--  margin-left:0px margin-top:0px margin-right:0px margin-bottom:0px  -->
  <body bgproperties="fixed" background="/images/picture/page_bg.jpg">
    <div id="banner_ny">
      <object height="205" width="937" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
              classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param value="transparent" name="wmode"></param>
        <param value="/images/picture/s05.swf" name="movie"></param>
        <param value="high" name="quality"></param>
        <embed height="205" width="937" typ="application/x-shockwave-flash" 
               pluginspage="http://www.macromedia.com/go/getflashplayer"
               wmode="transparent" quality="high" src="/images/picture/s05.swf">
      </object>
    </div>
  </body>
</html>
