<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加 组庭信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script language="javascript">
      function aabb(){
        //var b =document.getElementById("institute");
        a=window.showModalDialog('/arbitmannow_select/arbitman_select',"","dialogWidth=1000px;dialogHeight=600px;resizable=1");
        if (a!=null){
          document.getElementById("arbitman_arbitman").value=a
        }
      }
    </script>
  </head>
  <body>
    <div class="cDGray">
  添加 仲裁员信息  <%=link_to "返回",:action=>"arbitman_list",:org_id=>params[:org_id]%>
    </div>
 <div style="color:red" align="center"><%=flash[:notice]%></div>
    <%form_for :arbitman ,:url=>{:action=>"arbitman_create",:org_id=>params[:org_id]}  do |f|%>
      <table class="list">  
        <tr >
          <th>
            仲裁员类型:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0014' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:arbitmantype,op,:data_val,:data_text)%>   
            <div style="color:red"><%=error_message_on(:arbitman,:arbitmantype)%></div>
          </td>
        </tr>
        <tr >
          <th>
            仲裁员:
          </th>
          <td>
            <%@arbitman_now=TbArbitmannow.find_by_sql("select tb_arbitmen.code as code ,tb_arbitmen.name as name from tb_arbitmen,tb_arbitmannows where tb_arbitmen.code=tb_arbitmannows.arbitman_num order by tb_arbitmen.name")%>
            <%=f.collection_select(:arbitman,@arbitman_now,:code,:name)%> 
            <input type="button" value="选择" onclick="aabb()">
             <i><%=error_message_on(:arbitman,:arbitman)%></i>
          </td>
        </tr>
        <tr >
          <th>
            选定方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0015' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:arbitmansign,op,:data_val,:data_text)%>                                                
            <div style="color:red"><%=error_message_on(:arbitman,:arbitmansign)%></div>
          </td>
        </tr>                     
      </table>
      <div align="center">
        <%=submit_tag "提交" %>
       </div>
    <%end%>
  </body>
</html>