<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>撤销及不予执行</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%if session[:recevice_code_3]==nil%>
      <script language="javascript">
        window.open("/case_p/list_3?contr_r=wind_up_case&act_r=backout_and_unrun","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">撤销及不予执行</span></div>
    <br>
    <%if @tb_case==nil%>
      请选择您要办理的案件
    <%end%>
    <%=button_to "案件选择", :controller=>'case_p',:action=>"list_3",:contr_r=>"wind_up_case",
      :act_r=>"backout_and_unrun", :id => @tb_case%>
    <%if @tb_case!=nil%>
      <br>
      <div style="color:red"><%=flash[:notice]%></div>
      <div class="cDGray">当前案件</div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr >
            <th nowrap>
              咨询流水号
            </th>
            <th nowrap>
              咨询日期
            </th>
            <th nowrap>
              立案号
            </th>
            <th nowrap>
              立案日期
            </th>
            <th nowrap>
              结案号
            </th>
            <th nowrap>
              结案方式
            </th>
            <th nowrap>
              申请人
            </th>
            <th nowrap>
              被申请人
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=h @tb_case.recevice_code%>
            </td>
            <td>
              <%=h @tb_case.receivedate%>
            </td>
            <td>
              <%=h @tb_case.case_code%>
            </td>
            <td>
              <%=h @tb_case.nowdate%>
            </td>
            <td>
               <%if @tb_case.caseendbook_id_first!=nil%>
                 <%=TbCaseendbook.find(@tb_case.caseendbook_id_first).arbitBookNum%>
               <%end%>
            </td>
            <td>
              <%if @tb_case.caseendbook_id_first!=nil%>
                <%=TbDictionary.find(:first,:conditions=>"typ_code='8117' and data_val='#{TbCaseendbook.find(@tb_case.caseendbook_id_first).endStyle}'").data_text%>
              <%end%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code=#{@tb_case.recevice_code}",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code=#{@tb_case.recevice_code}",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="cDGray"> 撤销及不予执行 <%if @tb_case.yarddecide==nil%> <%=link_to  "创建", :action=>"backout_and_unrun_edit"%> <%end%> </div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr >
            <th nowrap>
              是否申请撤销
            </th>
            <th nowrap>
              是否申请不予执行
            </th>
            <th nowrap>
              法院意见
            </th>
            <th nowrap>
              当事人申请理由
            </th>
            <th nowrap>
              修改
            </th>
            <th nowrap>
              删除
            </th>
          </tr>
        </thead>
        <tbody>
          <%state={'1'=>'是','0'=>'否'}%>
          <%if @tb_case.yarddecide!=nil%>
            <tr>
              <td>
                <%=state[@tb_case.isback]%>
              </td>
              <td>
                <%=state[@tb_case.isunrun]%>
              </td>
              <td>
                <%=TbDictionary.find(:first, :conditions => ["typ_code = 9013 and data_val ='#{@tb_case.yarddecide}'"]).data_text%>
              </td>
              <td>
                <%=@tb_case.casecommenttime%>
              </td>
              <td>
                <%=link_to "修改",:action=>"backout_and_unrun_edit",:id=>@tb_case%>
              </td>
              <td>
                <%=button_to "删除",{:action=>"backout_and_unrun_delete",:id=>@tb_case},:confirm=>"您确认要删除吗？"%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <hr size="1" color="#99CCFF" noshade>
      <iframe frameborder=0 src="/wind_up_case/book_list?p_id=<%=@tb_case.id%>"  noresize  style="width:700px;height:400px" align=center> </iframe>
      <hr size="1" color="#99CCFF" noshade>
    <%end%>
  </body>

</html>