<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>当事人统计</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <br/>
    <table class="adminlist">
      <thead>
        <tr>
          <th  nowrap>立案日期</th>
          <th  nowrap>立案号</th>
          <th  nowrap>申请人(地区)</th>
          <th  nowrap>被申请人(地区)</th>
          <th  nowrap>争议金额(￥)</th>
          <th  nowrap>办案助理</th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%for vv in @v_list%>
          <%if vv!=nil%>
            <%pa1=0%>
            <%p1 = VCaseQuery1List1.find(:all,:conditions=>["tb_cases_recevice_code=? and tb_cases_nowdate>=? and tb_cases_nowdate<=? and tb_cases_agent=? and tb_parties_area<>''",vv.tb_cases_recevice_code,params[:d1],params[:d2],params[:agent]])%>
            <% p1.each do |p_1|%>
              <% if p_1!=nil%>
                <% if p_1.tb_parties_area!=nil%>
                  <% if p_1.tb_parties_area.slice(0,6)!="001001"%>
                    <%pa1=pa1+1%>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
            <%if pa1==p1.length and pa1!=0%>
              <tr class="row<%=i % 2%>">
                <td nowrap><%=vv.tb_cases_nowdate%></td>
                <td nowrap><%=link_to "#{vv.tb_cases_case_code}",{:controller=>"every_casebase",:action=>'every_list',:recevice_code=>vv.tb_cases_recevice_code},:target=>"_black" %></td>
                <td>
                  <%@tp=TbParty.find(:all,:conditions=>"recevice_code='#{vv.tb_cases_recevice_code}' and used='Y' and partytype=1")%>
                  <%ttpp=''%>
                  <%for tp in @tp%>
                    <%if tp!=nil%>
                      <%name1=Region.find_by_code(tp.area)%>
                       <%if name1!=nil%>
                        <%ttpp=ttpp  + tp.partyname + "(" + name1.name + ")" + " <br/>"%>
                       <%else%>
                        <%ttpp=ttpp + tp.partyname + " <br/>"%>
                      <%end%>
                    <%end%>
                  <%end%>
                  <%=ttpp%>
                </td>
                <td>
                  <%@party2=TbParty.find(:all,:conditions=>"recevice_code='#{vv.tb_cases_recevice_code}' and used='Y' and partytype=2")%>
                  <%ttpp=''%>
                  <%for tp in @party2%>
                    <%if tp!=nil%>
                      <%name1=Region.find_by_code(tp.area)%>
                      <%if name1!=nil%>
                        <%ttpp=ttpp + tp.partyname + "(" + name1.name + ")"+ " <br/>"%>
                      <%else%>
                        <%ttpp=ttpp + tp.partyname + " <br/>"%>
                      <%end%>
                    <%end%>
                  <%end%>
                  <%=ttpp%>
                </td>
                <td nowrap><%=SysArg.compart2(vv.tb_cases_amount)%></td>
                <td nowrap><%=User.find(:first,:conditions=>["used='Y' and code=?",vv.tb_cases_clerk]).name %></td>
              </tr>
            <%end%>
          <%end%>
          <%i=i+1%>
        <%end%>
      </tbody>
    </table>
  </body>
</html>