<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>批量创建 仲裁员评价</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%= javascript_include_tag :defaults%>
    <script type="text/javascript">
function checkForm(){
        var abs = "";
        var abs2 = "";
<%for p in @tb_mark-%>
  <%for arb in @casearbitman-%>
        abs += "score_id_<%=p.data_val%>_<%=arb.code%>,";
        abs2 += "remark_id__<%=p.data_val%>_<%=arb.code%>,";
  <%end-%>
<%end-%>
    abs = abs.substring(0,abs.length-1);
    abs2 = abs2.substring(0,abs2.length-1);
    var Arrabs = abs.split(",");
    var Arrabs2 = abs2.split(",");
    var r =/^\-?[1-9]?[0-9]$/;

    for(var i=0; i<Arrabs.length;i++){
      a = document.getElementById(Arrabs[i]).value;
      b = document.getElementById(Arrabs2[i]).value;
      if(a != ""){
        if(!r.test(a)) {
          alert("请输入正确的分数");
          document.getElementById(Arrabs[i]).focus();
          return false;
        }
        if(a != 0 && b==""){
          alert("分数不为零，请填写备注信息！");
          document.getElementById(Arrabs2[i]).focus();
          return false;
        }
      }
    }
  }
    </script>
  </head>
  <body>
    <div class="cDGray" align="center">
      仲裁员评价
    </div>
    <%=link_to "返回",:action=>"evaluate_list",:recevice_code=>params[:recevice_code]%>
    <div style="color:red"><%=flash[:notice]%></div><!--,:html =>{:onsubmit=>"return checkForm();"}-->
    <%form_for :evaluate ,:url=>{:action=>"create_all_2",:recevice_code=>params[:recevice_code]},:html =>{:onsubmit=>"return checkForm();"}  do |f|%>

      <table cellspacing="1" class="adminlist">
        <thead>
          <tr>
            <th rowspan=2>
              评价内容
            </th>
            <%for arb in @casearbitman%>
              <th colspan=2 align=center>
                <%=arb.arbitmantype_name%><br/>(<%=arb.name%>)
              </th>
            <%end%>
          </tr>
          <tr>
            <%for arb in @casearbitman%>
              <th align=center nowrap>
                分数
              </th>
              <th align=center>
                备注
              </th>
            <%end%>
          </tr>
        </thead>

        <%for p in @tb_mark%>
          <tr>
            <td>
              <input type="hidden" id="hid_id_<%=p.data_val%>" name="evaluate_hid_name_<%=p.data_val%>" value="<%=p.data_val%>" />
              <%=p.data_text%>
            </td>
            <%for arb in @casearbitman%>
                            <td><!-- onchange="return checkForm('<%=p.data_val%>','<%=arb.code%>')"-->
                <input type="text" id="score_id_<%=p.data_val%>_<%=arb.code%>" name="score_name_<%=p.data_val%>_<%=arb.code%>" value="" style="width: 25px"/>
              </td>
              <td>
                <input type="text" id="remark_id__<%=p.data_val%>_<%=arb.code%>" name="remark_name_<%=p.data_val%>_<%=arb.code%>" value="" />
              </td>
            <%end%>
          </tr>
        <%end%>
      </table>
      <div align="center">
        <%=submit_tag "提交"%>
      </div>
    <%end%>
  </body>
</html>