<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>国内各省当事人统计</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%= javascript_include_tag  'WebCalendar'%>
    <script type="text/javascript" src="/javascripts/pub.js"></script>
  </head>
  <body>
    <div class="title" align="center"><span class="cBlue">国内各省当事人统计</span></div>
    <div align="center">
      <%form_tag ({:action=>"list_4"})  do %>
        <%=select_tag(:typ,options_for_select([["立案时间","1"],["受理时间","2"],["结案时间","3"]],@typ))%>
        <%=text_field_tag(:d1,@d1,:readonly=>"yes")%>
        <input type="button" value="..." onclick="SelectDate(document.getElementById('d1'),'yyyy-MM-dd')" />
        至<%=text_field_tag(:d2,@d2,:readonly=>"yes")%>
        <input type="button" value="..." onclick="SelectDate(document.getElementById('d2'),'yyyy-MM-dd')" />
        <%=submit_tag "查询" %>
        <input type="button" value="导出excel文档" onclick=to_excel(document.getElementById("to_excel_k")); />
      <%end -%>
    </div>
    <br/>
    <%if @re!=nil%>
      <table id="to_excel_k"  cellspacing="1" class="list">
        <tr>
          <th >
            地区名称
          </th>
          <th nowrap>
            当事人数量
          </th>
        </tr>
        <%for re in @re%>
          <tr >
            <td>
              <%=re.name%>
            </td>
            <td>
              <%=link_to "#{re.c}",{:action=>"list_4a",:typ=>@typ,:code=>re.code,:d1=>@d1,:d2=>@d2,:nn=>re.c},:target=>"_black"%>
            </td>
          </tr>
        <%end%>
        <%for re_2 in @re_2%>
          <tr >
            <td>
              中国内地
            </td>
            <td>
              <%=link_to "#{re_2.c}",{:action=>"list_self",:typ=>@typ,:code=>re_2.code,:d1=>@d1,:d2=>@d2,:nn=>re_2.c},:target=>"_black"%>
            </td>
          </tr>
        <%end%>
        <tr >
          <td>
            合计
          </td>
          <td>
            <%=@re.sum{|r| r.c.to_i} + @re_2.sum{|r| r.c.to_i}%>
          </td>
        </tr>
      </table>
    <%end%>
  </body>
</html>