<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加 校核工作信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    <div class="cDGray" align="center">
添加校核工作信息  <%=link_to "返回",:action=>"list_2"%>

 <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :remun ,:url=>{:action=>"create_2"},:html=>{:onsubmit=>"return checkForm();"}  do |f|%>
      <table class="list">  
        <tr>
          <th>
            校核类型:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0040' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:typ,op,:data_val,:data_text)%>   
            <div style="color:red"><%=error_message_on(:remun,:typ)%></div>
          </td>
        </tr>
        
        <tr>
          <th>
            校核人员:
          </th>
          <td>
            <%@p_d=User.find_by_sql("select users.code as code,users.name as name from users,user_duties where users.code=user_duties.user_code and user_duties.duty_code='0007' order by users.name")%>
            <%=f.collection_select(:p,@p_d,:code,:name)%>
            <div style="color:red"><%=error_message_on(:remun,:p)%></div>
          </td>
        </tr>
                               
      </table>
      <br>
        <div align="center"><%=submit_tag "提交" %></div>

    <%end%>
  </body>
</html>