<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>仲裁员评价</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">
        仲裁员评价
    </span></div>
    <%=button_to "返回案件列表",:action=>"list"%>
    <br>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr >
          <th nowrap>
            咨询流水号
          </th>
          <th nowrap>
            咨询日期
          </th>
          <th nowrap>
            立案号
          </th>
          <th nowrap>
            立案日期
          </th>
          <th nowrap>
            申请人
          </th>
          <th nowrap>
            被申请人
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=h @case.recevice_code%>
          </td>
          <td>
            <%=h @case.receivedate%>
          </td>
          <td>
            <%=h @case.case_code%>
          </td>
          <td>
            <%=h @case.nowdate%>
          </td>
          <td>
            <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
            <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
          </td>
          <td>            
            <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
            <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <hr size="1" color="#99CCFF" noshade>
    <div align="center" class="cDGray">
      仲裁员评价信息表    <%=link_to  "创建", :action=>"evaluate_new",:recevice_code=>@case.recevice_code%>
      <div style="color:red"><%=flash[:notice]%></div>
    </div>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr>
          <th nowrap>
            仲裁员类型
          </th>
          <th nowrap>
            仲裁员
          </th>
          <th nowrap>
            评价内容
          </th>
          <th nowrap>
            评价结果
          </th>
          <th nowrap>
            修改
          </th>
          <th nowrap>
            删除
          </th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%if @evaluate!=nil %>
          <%for p in @evaluate%>
            <tr class="row<%=i % 2%>">
              <td>
                <%=TbDictionary.find(:first,:conditions=>"typ_code='8159' and data_val='#{p.arbitman_type}'").data_text%>
              </td>
              <td>
                <%@arbitman=TbArbitman.find(:first,:conditions=>"code='#{p.arbitman}' and used='Y'")%>
                <%if @arbitman!=nil%>
                  <%=@arbitman.name%>
                <%end%>
              </td>
              <td>
                <div align="left">
                  <%=TbDictionary.find(:first,:conditions=>"typ_code='8136' and data_parent='' and data_val='#{p.evaluate_content}' and state='Y'").data_text%>
                </div>
              </td>
              <td>
                <div align="left">
                  <%=TbDictionary.find(:first,:conditions=>"typ_code='8136' and data_parent='#{p.evaluate_content}' and data_val='#{p.evaluate_result}' and state='Y'").data_text%>
                </div>
              </td>
              <td>
                <%=link_to "修改",:action=>"evaluate_edit",:id=>p,:recevice_code=>@case.recevice_code%>
              </td>
              <td>
                <%=link_to "删除",{:action=>"evaluate_delete",:id=>p,:recevice_code=>@case.recevice_code},:confirm=>"您确认要删除吗？"%>
              </td>
            </tr>
            <%i=i+1%>
          <%end%>
        </tbody>
      </table>
    <%end%>
  </body>
</html>