<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>案件列表</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">案件列表</span></div>
    <br>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr >
          <th nowrap>
            <%if @order=="recevice_code desc"%>
              <%=link_to '咨询流水号↑',:action=>"list",:order=>"recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="recevice_code asc"%>
              <%=link_to '咨询流水号↓',:action=>"list",:order=>"recevice_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '咨询流水号',:action=>"list",:order=>"recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            <%if @order=="receivedate desc"%>
              <%=link_to '咨询日期↑',:action=>"list",:order=>"receivedate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="receivedate asc"%>
              <%=link_to '咨询日期↓',:action=>"list",:order=>"receivedate desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '咨询日期',:action=>"list",:order=>"receivedate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            <%if @order=="case_code desc"%>
              <%=link_to '立案号↑',:action=>"list",:order=>"case_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="case_code asc"%>
              <%=link_to '立案号↓',:action=>"list",:order=>"case_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '立案号',:action=>"list",:order=>"case_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            <%if @order=="nowdate desc"%>
              <%=link_to '立案日期↑',:action=>"list",:order=>"nowdate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%elsif @order=="nowdate asc"%>
              <%=link_to '立案日期↓',:action=>"list",:order=>"nowdate desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%else%>
              <%=link_to '立案日期',:action=>"list",:order=>"nowdate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
            <%end%>
          </th>
          <th nowrap>
            仲裁程序
          </th>
          <th nowrap>
            申请人
          </th>
          <th nowrap>
            被申请人
          </th>
          <th nowrap>
            选择
          </th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%if @case!=nil%>
          <%for p in @case%>
            <tr class="row<%=i % 2%>">
              <td>
                <%=h p.recevice_code%>
              </td>
              <td>
                <%=h p.receivedate%>
              </td>
              <td>
                <%=h p.case_code%>
              </td>
              <td>
                <%=h p.nowdate%>
              </td>
              <td>
                <%@a=TbDictionary.find(:first,:conditions=>"used='Y' and typ_code='0001' and data_val='#{p.aribitprog_num}'")%>
                <%if @a!=nil%>
                  <%=@a.data_text%>
                <%end%>
              </td>
              <td>
                <div align="left">
                <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{p.recevice_code}'",:order=>"id")%>
                <%ttpp=''%>
                <%for tp in @tp%>
                  <%ttpp=ttpp + tp.partyname + " <br>" %>
                <%end%>
                <%if ttpp!=''%>
                  <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
                <%end%>
                <%=ttpp%>
                </div>
              </td>
              <td>
                <div align="left">
                <%@tp2=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{p.recevice_code}'",:order=>"id")%>
                <%ttpp=''%>
                <%for tp in @tp2%>
                  <%ttpp=ttpp + tp.partyname + " <br>" %>
                <%end%>
                <%if ttpp!=''%>
                  <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
                <%end%>
                <%=ttpp%>
                </div>
              </td>
              <td>
                <%=button_to "选择",:action=>"evaluate_list",:recevice_code=>p.recevice_code%>
              </td>
            </tr>
            <%i=i+1%>
          <%end%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <%= link_to '上一页', { :page => @case_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.previous %>
            <%=pagination_links( @case_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
            <%= link_to '下一页', { :page => @case_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.next %>

            <%if @case_pages.current.previous or @case_pages.current.next%>
              <form action="/evaluate/list" method="get" >
                每页<input type=text name='page_lines' size=2 class="SingleLineInput" value=<%=@page_lines%> />条记录,第
                <input type=text name='page' size=5 class="SingleLineInput" value=<%= @case_pages.current.number %> />
                <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                页
                <input type=hidden name='order' value="<%=@order%>" />
                <input type='submit' value='确定' />
              </form>
            <%end%>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>