<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>案件退费信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">案件退费信息</span></div>
    <br>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          费用类型
        </th>
        <th nowrap>
          退款方
        </th>
        <th nowrap>
          币种
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          汇率
        </th>
        <th nowrap>
          应收费用(￥)
        </th>
        <th nowrap>
          备注
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @should%>
      <tr class="row<%=i % 2%>">
        <td>
          <!--以下是华南仲裁委个性化部分-->
          <%aribitprog_num=TbCase.find_by_recevice_code(p.recevice_code).aribitprog_num%>
          <%if p.typ=='0002' or p.typ=='0005' %><!--立案费/受理费-->
            <%if aribitprog_num=='0002' or aribitprog_num=='0001'%><!--国内案件-->
              受理费
            <%else%>
              立案费
            <%end%>
          <%elsif p.typ=='0003' or p.typ=='0006'%><!--仲裁费/处理费-->
            <%if aribitprog_num=='0002' or aribitprog_num=='0001'%><!--国内案件-->
              处理费
            <%else%>
              仲裁费
            <%end%>
          <%else%>
            <%=TbDictionary.find(:first,:conditions=>"typ_code='0031' and data_val='#{p.typ}'").data_text%>
          <%end%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0032' and data_val='#{p.payment}'").data_text%>
        </td>
        <td>
          <%=Money.find_by_code(p.currency).name%>
        </td>
        <td>
          <%=p.f_money%>
        </td>
        <td>
          <%=p.rate%>
        </td>
        <td>
          <%=p.rmb_money%>
        </td>
        <td>
          <%=p.remark%>
        </td>
      </tr>          
      <%i=i+1%>
        <%end%>
      </tbody>
    </table>
  </body>
</html>