<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>当事人信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <br>
    当事人信息 <%=link_to "返回",:action=>"list"%>
    <table class="list">
      <tr>
        <th nowrap="nowrap">
          类别:
        </th>
        <td nowrap="nowrap">
          <%if @tbparty!=nil%>
            <%if @tbparty.partytype==1%>
              申请人
            <%else%>
              被申请人
            <%end%>
          <%end%>
        </td>
      </tr>

      <!--tr>
        <th nowrap="nowrap">
          是否个人:
        </th>
        <td nowrap="nowrap">
          <#%if @tbparty.isperson==1%>
            是
          <#%else%>
            否
          <#%end%>
        </td>
      </tr-->

      <tr>
        <th nowrap="nowrap">
          当事人名称:
        </th>
        <td nowrap="nowrap">
          <%if @tbparty!=nil%>
          <%=@tbparty.partyname%>
          <%end%>
        </td>
      </tr>

      <tr>
        <th nowrap="nowrap">
          短信手机:
        </th>
        <td nowrap="nowrap">
          <%if @tbparty!=nil%>
          <%=@tbparty.mobiletel%>
          <%end%>
        </td>
      </tr>
      
      <tr>
        <th nowrap="nowrap">
          email:
        </th>
        <td nowrap="nowrap">
          <%if @tbparty!=nil%><%=@tbparty.email%><%end%>
        </td>
      </tr>
    </table>
  </body>
</html>