<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>修改 仲裁员信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div align="center" class="cDGray">
  修改出庭人员信息(带<i>*</i>为必填项)  <%=link_to "返回",:action=>"appearman_list",:sitting_id=>params[:sitting_id]%>
 <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :appearman ,:url=>{:action=>"appearman_update",:id=>params[:id],:sitting_id=>params[:sitting_id]}  do |f|%>
      <table class="list">
        <tr>
          <th>
            <i>*</i>姓名:
          </th>
          <td>
            <%=f.text_field(:name)%>   
            <div style="color:red"><%=error_message_on(:appearman,:name)%></div>
          </td>
        </tr>
        <tr>
          <th>
            职务:
          </th>
          <td>
            <%=f.text_field(:business)%>                                      
            <div style="color:red"><%=error_message_on(:appearman,:business)%></div>
          </td>
        </tr>
        <tr>
          <th>
            出庭身份:
         </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0027' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:figure,op,:data_val,:data_text)%>                                                
            <div style="color:red"><%=error_message_on(:appearman,:figure)%></div>
          </td>
        </tr>  
        <tr>
          <th>
            所在单位:
          </th>
          <td>
            <%=f.text_area(:company,:rows=>1)%>
            <div style="color:red"><%=error_message_on(:appearman,:company)%></div>
          </td>
        </tr> 
        <tr>
          <th>
            备注:
          </th>
          <td>
            <%=f.text_area(:remark,:rows=>4)%>                                                
            <div style="color:red"><%=error_message_on(:appearman,:remark)%></div>
          </td>
        </tr> 
      </table>
      <br><div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
  </body>
</html>