<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>裁决书上传</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="cDGray" align="center">
      裁决书上传  <%=link_to "返回",:action=>"book_list",:p_id=>@book.p_id%>
      <div style="color:red"><%=flash[:notice]%></div>
    </div>
    <%form_tag "/caseend_book/book_upload_do" ,:multipart=>true do %>
        <input type="hidden" id=p_id name=p_id value=<%=@book.p_id%>>
        <input type="hidden" id=id name=id value=<%=@book.id%>>
        <%=file_field_tag('file',:size=>80)%>
      <br/>
      <%=submit_tag '上传'%>
    <%end%>
  </body>
</html>