<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>案件 办案其它报酬_独立维护</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title"><span class="cBlue">办案其它报酬_独立维护</span></div>

  <div align="center" class="cDGray">
    <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
    <%=link_to  "创建仲裁员出差补助", :action=>"new_2",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%> 
    <%=link_to  "创建", :action=>"new",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%> 
    <div style="color:red"><%=flash[:notice]%></div>
  </div>
  <table cellspacing="1" class="adminlist">
  <thead>
    <tr >
      <th nowrap>
        <%if @order=="case_code desc,p_typ asc,p asc"%>
          <%=link_to '受案号↑',:action=>"list",:order=>"case_code asc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%elsif @order=="case_code asc,p_typ asc,p asc"%>
          <%=link_to '受案号↓',:action=>"list",:order=>"case_code desc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%else%>
          <%=link_to '受案号',:action=>"list",:order=>"case_code asc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%end%>
      </th>
      <th nowrap>
        <%if @order=="end_code desc,p_typ asc,p asc"%>
          <%=link_to '结案号↑',:action=>"list",:order=>"end_code asc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%elsif @order=="end_code asc,p_typ asc,p asc"%>
          <%=link_to '结案号↓',:action=>"list",:order=>"end_code desc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%else%>
          <%=link_to '结案号',:action=>"list",:order=>"end_code asc,p_typ asc,p asc",:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
        <%end%>
      </th>
      <th nowrap>
        人员类型
      </th>
      <th nowrap>
        人员
      </th>
      <th nowrap>
        类型
      </th>
      <th nowrap>
        应发报酬
      </th>
      <th nowrap>
        应扣税款
      </th>
      <th nowrap>
        实发报酬
      </th>
      <th nowrap>
        金额明细
      </th>
      <th nowrap>
        备注
      </th>
      <th nowrap>
        删除
      </th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%for p in @remun%>
    <tr class="row<%=i % 2%>">
      <td>
        <%=h p.case_code%>
      </td>
      <td>
        <%=h p.end_code%>
      </td>
      <td>
        <%=@p_typ[p.p_typ]%>
      </td>
      <td>
        <%if p.p_typ=='0001'%>
          <%=TbArbitman.find_by_code(p.p).name%>
        <%else%>
          <%@u=User.find_by_code(p.p)%>
          <%if @u!=nil%>
            <%=@u.name%>
          <%end%>
        <%end%>
      </td>
      <td>
        <%=TbDictionary.find(:first,:conditions=>"typ_code='0050' and data_val='#{p.typ}'").data_text%>
      </td>
      <td>
        <%=p.should_rmb%>
      </td>
      <td>
        <%=p.tax_rmb%>
      </td>
      <td>
        <%=p.extend_rmb%>
      </td>
      <td>
        <%c="used='Y' and parent_id=#{p.id}"%>
        <%@remun=TbRemuneration23.find(:all,:order=>'typ',:conditions=>c) %>
        <table width=100%>
          <%for remun in @remun%>
          <tr>
            <td>
              <%=TbDictionary.find(:first,:conditions=>"typ_code='0050' and data_val='#{remun.typ}'").data_text%>
            </td>
            <td>
              <%=remun.extend_rmb%>
            </td>
          </tr>
          <%end%>
        </table>
      </td>
      <td>
        <%=p.remark%>
      </td>
      <td>
        <%if p.extend_code=='' %>
            <%=button_to "删除",{:action=>"delete",:id=>p,:page=>@remun_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines},:confirm=>"您确认要删除吗？"%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td colspan="8">
        <%= link_to '上一页', { :page => @remun_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @remun_pages.current.previous %>
        <%=pagination_links( @remun_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
        <%= link_to '下一页', { :page => @remun_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @remun_pages.current.next %>

        <%if @remun_pages.current.previous or @remun_pages.current.next%>
          <form action="/remuneration23_set2/list" method="get" onsubmit="return page_check('page_lines','page');">
            每页<input type=text id="page_lines" name='page_lines' size=2 class="SingleLineInput" value=<%=@page_lines%>  />条记录,第
            <input type="text" id='page' name='page' size=5 class="SingleLineInput" value=<%= @remun_pages.current.number %> />
            <input type=hidden name='search_condit' value="<%=@search_condit%>" />
            页
            <input type=hidden name='order' value="<%=@order%>" />
            <input type='submit' value='确定' />
          </form>
        <%end%>
      </td>
    </tr>
  </tfoot>
</body>
</html>