<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.action_name %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <table  width="100%"><tr><td>
          <div class="title">系统权限维护</div>
          <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
          <p style="color: green"><%= flash[:notice] %></p>
          <div align="left">&nbsp; &nbsp;
            <%= link_to '<u>创建</u>', :action => 'new' %>
          </div>
          <table cellspacing="1" class="adminlist">
            <thead>
              <tr>
                <th  nowrap>编码</th>
                <th  nowrap>名称</th>
                <th  nowrap>url</th>
                <th  nowrap>编辑</th>
                <th  nowrap>删除</th>
              </tr>
            </thead>
            <tbody>
              <%i=0%>
              <% for page in @pages %>
                <tr class="row<%=i % 2%>">
                  <td nowrap><div align="left"><%=h page.code %></div></td>
                  <td nowrap><div align="left"><%=h page.name %></div></td>
                  <td ><div align="left"><%=h page.url%></div></td>
                  <td><%= link_to '编辑', :action => 'edit', :id => page %></td>
                  <td><%= link_to '删除', { :action => 'destroy', :id => page }, :confirm => 'Are you sure?', :method => :post %></td>
                </tr>
                <%i=i+1%>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
