<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加管辖权异议申请信息</title>
    <%=  javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="cDGray" align="center">添加管辖权异议申请信息   <%=link_to "返回",:action=>"instrument_list"%>
 <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :instrument ,:url=>{:action=>"instrument_create"}  do |f|%>
      <table class="list" width="78%">
        <tr>
          <th>
            文书类别:
           </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8135' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:instrument_type,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr>
          <th>
            类别:
          </th>
          <td>
            <%=f.select(:typ,[["不签字","0001"],["签字","0002"]])%>
          </td>
        </tr>
        <tr>
          <th>
            仲裁员:
          </th>
          <td>
            <%op=TbArbitman.find_by_sql("select code,name from tb_arbitmen where tb_arbitmen.code in (select arbitman from tb_casearbitmen where tb_casearbitmen.recevice_code='#{session[:recevice_code]}')")%>
            <%=f.collection_select(:arbitman,op,:code,:name)%>
            <i><%=error_message_on(:instrument,:arbitman)%></i>
           </td>
        </tr>
        <tr>
          <th>
            个人意见:
          </th>
          <td>
            <%=f.text_area(:remark,:rows=>4)%>
          </td>
        </tr>
       </table>
       <div align="center">
        <%=submit_tag "提交" %>
      </div>
     <%end%>
  </body>
</html>
