<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>案件校核人员指定</title>
    <%= javascript_include_tag  'WebCalendar'%> 
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">案件校核人员指定</span></div>
    <br>
    <%=link_to "返回",:action=>"list",:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]%>
   
    <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :check_staff ,:url=>{:action=>"create",:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]}  do |f|%>
      <table class="list">
        <tr>
          <th>
            校核类型:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0040' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:typ,op,:data_val,:data_text)%>   
            <div style="color:red"><%=error_message_on(:remun,:typ)%></div>
          </td>
        </tr>
        <tr bgcolor="white">
          <th>
            校核人员:
          </th>
          <td align="left">
            <%=f.collection_select(:staff,@u,:code,:name)%>            
              <div style="color:red"><%=error_message_on(:check_staff,:staff)%></div>
          </td>
        </tr>            
      
      </table>
        <div align="center"><%=submit_tag "提交" %></div>
    
     <%end%>
        
      </body>
    </html>