<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<frameset cols="200,*" frameborder="yes" border="1" framespacing="0">
  <frame src="/region/tree" name="left_t" id="left_t" />
  <frame src="/region/right" name="main_t" id="main_t" />
</frameset>
<noframes><body>
</body>
</noframes></html>
