<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>应收款信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">应收款信息</span></div>
    <%=link_to "返回",:action=>"reduction_list",:t_typ=>params[:t_typ]%>
    <div style="color:red"><%=flash[:notice]%></div>
    <%rmb_money=TbShouldCharge.sum("rmb_money",:conditions=>"typ<>'0002' and typ<>'0003' and used='Y' and recevice_code='#{params[:recevice_code]}'")%>
    <%re_rmb_money=TbShouldCharge.sum("re_rmb_money",:conditions=>"typ<>'0002' and typ<>'0003' and used='Y' and recevice_code='#{params[:recevice_code]}'")%>
    <%if rmb_money==nil%>
      <%rmb_money=0%>
    <%end%>
    <%if re_rmb_money==nil%>
      <%re_rmb_money=0%>
    <%end%>
    <div align="left">应收款总额：<%=rmb_money%>(￥)  实收总额：<%=re_rmb_money%>(￥)  欠缴总额：<%=rmb_money - re_rmb_money%>(￥) </div>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          选择
        </th>
        <th nowrap>
          费用类型
        </th>
        <th nowrap>
          交款方
        </th>
        <th nowrap>
          币种
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          汇率
        </th>
        <th nowrap>
          应收费用(￥)
        </th>
        <th nowrap>
          减交(￥)
        </th>
        <th nowrap>
          收款编号
        </th>
        <th nowrap>
            实际收费用(￥)
        </th>
        <th nowrap>
          备注
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @should%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=button_to "选择" ,:action=>"reduction_new",:id=>p%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0031' and data_val='#{p.typ}'").data_text%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0032' and data_val='#{p.payment}'").data_text%>
        </td>
        <td>
          <%=Money.find_by_code(p.currency).name%>
        </td>
        <td>
          <%=p.f_money%>
        </td>
        <td>
          <%=p.rate%>
        </td>
        <td>
          <%=p.rmb_money%>
        </td>
        <td>
          <%=p.redu_rmb_money%>
        </td>
        <td>
          <%corr=TbChargeCorr.find(:all,:conditions=>"state=2 and used='Y' and should_charge_id='#{p.id}'",:order=>"charge_id")%>
           <%for c in corr%>
             <%if c.charge_id!=nil%>
              <%=TbCharge.find(c.charge_id).code%>(金额:<%=TbCharge.find(c.charge_id).rmb_money%>rmb)
             <%else%>
             <%end%>
             <br/>
           <%end%>
        </td>
        <td>
          <%=p.re_rmb_money%>
        </td>
        <td>
          <%=p.remark%>
        </td>
      </tr>          
      <%i=i+1%>
        <%end%>
      </tbody>
    </table>
    <!--
    <%if params[:t_typ]=="1" and flash[:notice]!=nil%>
      <script language="javascript">
       parent.location.reload(); 
      </script>
    <%end%>
    -->
  </body>
</html>