<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>被申请人的代理人信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%if session[:recevice_code]==nil%>
      <script language="javascript">
        window.open("/case_p/list?contr_r=party_agent&act_r=agent_list","mainFrame")
       </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">被申请人的代理人信息</span></div>
    <%if @case==nil%>
      <div class="p">请选择您要办理的案件</div>
    <%end%>
    <%=button_to "案件选择", :controller=>'case_p',:action=>"list",:contr_r=>"party_agent",:act_r=>"agent_list"%>
    <%if @case!=nil%>
     <br>
     <div class="cDGray">当前案件</div>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp1 in @tp%>
            <%ttpp=ttpp + tp1.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
      </tbody>
    </table>
    <br>
    <br>
      <hr size="1" color="#99CCFF" noshade width="98%">
        <br>
    <div class="cDGray">代理人
    <%=link_to  "创建", :action=>"agent_new"%></div>
    <div style="color:red"><%=flash[:notice]%></div>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          被申请人
        </th>
        <th nowrap>
          代理人
        </th>
        <th nowrap>
          身份
        </th>
        <th nowrap>
          短信手机
        </th>
       <th nowrap>
          email
        </th>
        <th nowrap>
          修改
        </th>
        <th nowrap>
          删除
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @agent%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=TbParty.find(p.party_id).partyname%>
        </td>
        <td>
          <%=p.name%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0007' and data_val='#{p.status}'").data_text%>
        </td>
        <td>
          <%=p.mobiletel%>
        </td>
        <td>
          <%=p.email%>
        </td>
        <td>
          <%=link_to "修改",:action=>"agent_edit",:id=>p%>
        </td>
        <td>
            <%=button_to "删除",{:action=>"agent_delete",:id=>p },:confirm=>"您确认要删除吗？"%>
        </td>
      </tr>
      <%i=i+1%>
      <%end%>
      </tbody>
    </table>
    <%end%>
  </body>
</html>