<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>裁决异议</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue"><div align="center">
    裁决异议
    </div></span></div>
      <table cellspacing="1" class="adminlist">
        <thead>
        <tr>
          <th nowrap>
             异议人
          </th>
          <th nowrap>
            提出时间
          </th>
          <th nowrap>
            异议内容
          </th>
        <th nowrap>
          修改
        </th>
        <th nowrap>
          删除
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @opposition%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=p.presenter%>
        </td>
        <td>
          <%=p.present_date%>
        </td>
        <td>
          <%=p.properties%>
        </td>
        <td>
          <%=link_to "修改",:action=>"opposition_edit",:id=>p,:caseend_book_id=>params[:caseend_book_id]%>
        </td>
        <td>
          <%=link_to "删除",{:action=>"opposition_delete",:id=>p,:caseend_book_id=>params[:caseend_book_id]},:confirm=>"您确认要删除吗？"%>
        </td>
      </tr>
      <%i=i+1%>
      <%end%>
      </tbody>
    </table>
    <div align="center">
    <%=link_to  "创建", :action=>"opposition_new",:caseend_book_id=>params[:caseend_book_id]%>
    <div style="color:red"><%=flash[:notice]%></div>
    </div>
  </body>
</html>