<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>添加秘书处例会参与人员</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script language="javascript">
      function checkForm(){
        if(document.getElementById("regular_meeting_attendant_name").value==""){
          alert("请填写姓名");
          return false;
        }
        return true;
      }
    </script>
  </head>
  <body>
    <br>
     <div class="cDGray">添加秘书处例会参与人员(带<i>*</i>为必填项) <%= link_to "返回", :action => "list_meeting_attendant", :id => params[:regular_meeting_id] %>
     </div>
     <%form_for :regular_meeting_attendant, :url => {:action => "create_meeting_attendant",  :regular_meeting_id => params[:regular_meeting_id]},:html=>{:onsubmit=>"return checkForm();"} do |f|%>
        <table class="list">
          <tr>
            <th><i>*</i>姓名</th>
            <td><%=f.text_field :name%>
            </td>
          </tr>
        </table>
        <br>
        <div align="center">
        <%=submit_tag "确定"%>
        </div>
    <%end%>
  </body>
</html>