<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>显示执行情况</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%if session[:recevice_code_3]==nil%>
      <script language="javascript">
        window.open("/case_p/list_3?contr_r=wind_up_case&act_r=show_implement","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">显示执行情况</span></div>
    <br>
    <%if @case==nil%>
      <div class="p">请选择您要办理的案件</div>
    <%end%>
    <%=button_to "案件选择", :controller=>'case_p',:action=>"list_3",:contr_r=>"wind_up_case",:act_r=>"show_implement"%>
    <%if @tb_case!=nil%>
      <br>
      <div class="cDGray">当前案件</div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr >
            <th nowrap>
              咨询流水号
            </th>
            <th nowrap>
              咨询日期
            </th>
            <th nowrap>
              立案号
            </th>
            <th nowrap>
              立案日期
            </th>
            <th nowrap>
              申请人
            </th>
            <th nowrap>
              被申请人
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=h @tb_case.recevice_code%>
            </td>
            <td>
              <%=h @tb_case.receivedate%>
            </td>
            <td>
              <%=h @tb_case.case_code%>
            </td>
            <td>
              <%=h @tb_case.nowdate%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code=#{@tb_case.recevice_code}",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code=#{@tb_case.recevice_code}",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div style="color:red"><%=flash[:notice]%></div>
      <br>
      <table class="list">
        <tr>
          <th>申请人名称：</th>
          <%  @tp =TbParty.find(:all,:conditions => ["recevice_code = ? and used = 'Y' and partytype = 1",@tb_case.recevice_code])%>
          <td>
            <%ttpp=''%>
            <%for tp in @tp%>
              <%ttpp=ttpp + tp.partyname + " <br>" %>
            <%end%>
            <%if ttpp!=''%>
              <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
            <%end%>
            <%=ttpp%>
          </td>
        </tr>
        <%form_for :tb_case, :url =>{:action => "save_implement"} do |f| %>
          <tr>
            <th>执行情况:</th>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9014 and state ='Y'"], :order => :id, :select => "data_val,data_text") %>
            <td><%=f.collection_select(:runstyle, @types, :data_val, :data_text)%></td>
          </tr>
          <tr>
            <th>执行情况说明:</th>
            <td><%= f.text_area :runremark, :rows => 5 %></td>
          </tr>
        </table>
        <div align="center">
          <%=submit_tag "确定"%>
        </div>
      <%end%>
    <%end%>
  </body>
</html>
