<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>国内案件费用表</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">国内案件受理费</span></div>
    <br><br>
    <table class="list" align="center">
        <tr>
          <th nowrap="nowrap">
            争议金额(人民币)
          </th>
          <th nowrap>
            仲裁费用(人民币)
          </th>
        </tr>
        <tr>
          <th nowrap>1,000元以下</th>
          <th nowrap>最低不少于100元</th>
        </tr>
        <tr>
          <th nowrap>1,000元至50,000元</th>
          <th nowrap="nowrap">100元+争议金额 1,000元以上部分的5%</th>
        </tr>
        <tr>
          <th nowrap>50,001元至100,000元</th>
          <th nowrap="nowrap">2,550元+争议金额 50,000元以上部分的4%</th>
        </tr>
        <tr>
          <th nowrap>100,001元至200,000元</th>
          <th nowrap>4,550元+争议金额 100,000元以上部分的3%</th>
        </tr>
        <tr>
          <th nowrap>200,001元至500,000元</th>
          <th nowrap>7,550元+争议金额 200,000元以上部分的2%</th>
        </tr>
        <tr>
          <th nowrap>500,001元至1,000,000元</th>
          <th nowrap>13,550元+争议金额500,000元以上部分的1%</th>
        </tr>
        <tr>
          <th nowrap>1,000,001元以上</th>
          <th nowrap>18,550元+争议金额1,000,000元以上部分的0.5%</th>
        </tr>
    </table>
    <hr size="2" color="#1f3a87" noshade width="100%">
       <div class="title"><span class="cBlue">国内案件处理费</span></div>
    <br><br>
    <table class="list" align="center">
        <tr>
          <th nowrap>
            争议金额(人民币)
          </th>
          <th nowrap>
            仲裁费用(人民币)
          </th>
        </tr>
        <tr>
          <th nowrap>5万元以下</th>
          <th nowrap>最低不少于 1,250元</th>
        </tr>
        <tr>
          <th nowrap>5万元至20万元</th>
          <th nowrap>1,250元+争议金额5万元以上部分的2.5%</th>
        </tr>
        <tr>
          <th nowrap>20万元至50万元</th>
          <th nowrap>5,000元+争议金额20万元以上部分的2%</th>
        </tr>
        <tr>
          <th nowrap>50万元至100万元</th>
          <th nowrap>11,000元+争议金额50万元以上部分的1.5%</th>
        </tr>
        <tr>
          <th nowrap>100万元至300万元</th>
          <th nowrap>18,500元+争议金额100万元以上部分的0.5%</th>
        </tr>
        <tr>
          <th nowrap>300万元至600万元</th>
          <th nowrap>28,500元+争议金额300万元以上部分的0.45%</th>
        </tr>
        <tr>
          <th nowrap>600万元至1,000万元</th>
          <th nowrap>42,000元+争议金额600万元以上部分的0.4%</th>
        </tr>
        <tr>
          <th nowrap>1,000万元至2,000万元</th>
          <th nowrap>58,000元+争议金额1,000万元以上部分的0.3%</th>
        </tr>
        <tr>
          <th nowrap>2,000万元至4,000万元</th>
          <th nowrap>88,000元+争议金额2,000万元以上部分的0.2%</th>
        </tr>
        <tr>
          <th nowrap>4,000万元以上</th>
          <th nowrap>128,000元+争议金额4.000万元以上部分的0.15%</th>
        </tr>
    </table>
  </body>
</html>
