<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>涉外案件</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/check.js"></script>
    <%= javascript_include_tag  'WebCalendar'%>
  </head>
  <body>
    <div class="cGreen">
        <%dat=TbDictionary.find(:first,:conditions=>"typ_code='8140' and data_val='#{params[:case_type1]}'")%>
        <%if dat!=nil%>
          主体类型：<%=dat.data_text%>&nbsp;&nbsp;
        <%end%>
        时间段类型：<%=@dispute[@datestyle]%>&nbsp;&nbsp;
        统计时间段：<%=@date1%>至<%=@date2%>&nbsp;&nbsp;
        结案与否：<%=@dispute2[@endcase]%>&nbsp;&nbsp;
    </div>
    <table class="adminlist">
      <thead>
        <tr>
          <th  nowrap>立案号</th>
          <th  nowrap>申请人</th>
          <th  nowrap>被申请人</th>
          <th  nowrap>争议金额(￥)</th>
          <th  nowrap>办案助理</th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%for a in @case%>
          <tr class="row<%=i % 2%>">
            <td nowrap><%=link_to "#{a.case_code}",{:controller=>"every_casebase",:action=>'every_list',:recevice_code=>a.recevice_code},:target=>"_black" %></td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"recevice_code='#{a.recevice_code}' and used='Y' and partytype=1")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%if tp!=nil%>
                  <%ttpp=ttpp +"["+ tp.partyname + "]" %>
                <%end%>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@party2=TbParty.find(:all,:conditions=>"recevice_code='#{a.recevice_code}' and used='Y' and partytype=2")%>
              <%ttpp=''%>
              <%for tp in @party2%>
                <%if tp!=nil%>
                  <%ttpp=ttpp +"["+ tp.partyname + "]" %>
                <%end%>
              <%end%>
              <%=ttpp%>
            </td>
            <td nowrap><%=SysArg.compart2(a.amount)%></td>
            <td nowrap><%=User.find(:first,:conditions=>["used='Y' and code=?",a.clerk]).name %></td>
          </tr>
          <%i=i+1%>
        <%end%>
      </tbody>
    </table>
  </body>
</html>