<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>案件仲裁员选择</title>
    <%= javascript_include_tag :defaults%>
    <base   target="_self"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <script language="javascript">
      function r_s(){
        new Ajax.Request('/arbitmannow_select/case_p_set?spell='+document.getElementById("spell").value, {asynchronous:true, evalScripts:true});
        //alert(document.getElementById("spell").value)
        return false;
      }
    </script>
  </head>
  <body onload="document.getElementById('spell').focus()">

    <div class="title"><span class="cBlue"><div  align="center">案件仲裁员信息</div></span></div>
    <form action="" method="post" name="form1" onsubmit="return r_s();">
    案件仲裁规则:<%=TbDictionary.find_by_typ_code_and_data_val('8143',TbCase.find_by_recevice_code(session[:recevice_code]).app_rules ).data_text unless session[:recevice_code].blank?%>  姓名、拼音缩写:<input type="text" id="spell" name="spell"/> <input type="submit"  value="查询"/>
    </form>
    <div id='pv_set'>
      <table id="table_1" class="adminlist" cellspacing="1">
        <thead>
          <tr>
            <th nowrap>姓名</th>
            <th nowrap>选择</th>
            <th nowrap>姓名拼音缩写</th>
            <th nowrap>性别</th>
            <th nowrap>地区</th>
            <th nowrap>单位</th>
            <th nowrap>手机</th>
            <th nowrap>家庭电话</th>
            <th nowrap>传真</th>
          </tr>
        </thead>
        <tbody>
          <%j=0%>
          <%i=1%>
          <%for ta in @tb_arbitmen %>
            <tr class="row<%=j % 2%>">
              <%@a1=ta.area_code%>
              <%@reg=Region.find_by_code(@a1)%>
              <%if @reg==nil%>
                <%@rate_code="0001"%>
                <%@arbitman_cost=0%>
              <%else%>
                <%@rate_code=@reg.rate_code%>
                <%@arbitman_cost=@reg.arbitman_cost%>
              <%end%>
              <%@m_name=Money.find(:first,:conditions=>"used='Y' and code='#{@rate_code}'").name%>
              <%@a=ta.code+",,"+@m_name+",,"+@arbitman_cost.to_s+",,"+ta.name %>
              <td><%= ta.name%></td>
              <td><input type='button' value="选择" onclick="window.returnValue='<%=@a  %>';window.close();"/></td>
              <td><%= ta.spell%></td>
              <td><%= ta.sex%></td>
              <td><%@region=Region.find_by_code(ta.area_code)%>
                <%if @region!=nil%>
                  <%=@region.name%>
                <%end%></td>
              <td><%= ta.company%></td>
              <td><%= ta.mobiletel%></td>
              <td><%= ta.telh%></td>
              <td><%= ta.fax%></td>
              </tr>
            <%i+=1%>
            <%j=j+1%>
          <%end%>
        </tbody>
        <tfoot>
      <tr>
        <td colspan="9">
          <%= link_to '上一页', { :page => @tb_arbitmen_pages.current.previous  ,:search_condit=>@search_condit,:page_lines=>@page_lines  } if @tb_arbitmen_pages.current.previous %>
          <%=pagination_links( @tb_arbitmen_pages,{:params=>{:search_condit=>@search_condit,:page_lines=>@page_lines  }})%>
          <%= link_to '下一页', { :page => @tb_arbitmen_pages.current.next ,:search_condit=>@search_condit,:page_lines=>@page_lines  } if @tb_arbitmen_pages.current.next %>

          <%if @tb_arbitmen_pages.current.previous or @tb_arbitmen_pages.current.next%>
            <form action="/arbitmannow_select/arbitman_select" method="get" >
              每页<input type=text name='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
              <input type=text name='page' size=5 class="SingleLineInput" value=<%= @tb_arbitmen_pages.current.number %> />
              <input type=hidden name='search_condit' value="<%=@search_condit%>" />
              页
              <input type=hidden name='order' value="<%=@order%>" />
              <input type='submit' value='确定' />
            </form>
          <%end%>
        </td>
      </tr>
      </tfoot>
      </table>
    </div>

  </body>
</html>