<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加选项</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="title"><span class="cBlue">添加选项</span></div>
    <div align="center" class="cGray">格式函名称:<%=@name%></div>
    <%=link_to "返回",:action=>"manage_list",:code=>@code,:search_condit=>params[:search_condit],:order=>params[:order],:page=>params[:page],:page_lines=>params[:page_lines]%>
    <br/>
    <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :docformatobj ,:url=>{:action=>"m_create",:format_code=>params[:format_code],:code=>@code,:search_condit=>params[:search_condit],:order=>params[:order],:page=>params[:page],:page_lines=>params[:page_lines]}  do |f|%>
      <table class="list">
        <tr>
          <th>选项:</th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0042' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:obj_code,op,:data_val,:data_text)%>
          </td>
        </tr>
       </table>
       <div align="center">
        <%=submit_tag "提交" %>
      </div>
     <%end%>
  </body>
</html>
