<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>案件 助理仲裁报酬维护</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title"><span class="cBlue"> 助理程序处理报酬维护</span></div>
  <div align="center" class="cDGray">
     助理程序处理报酬维护
    <%=link_to  "创建", :action=>"new_2"%>
    <div style="color:red"><%=flash[:notice]%></div>
  </div>
  <table cellspacing="1" class="adminlist">
  <thead>
    <tr >
      <th nowrap>
        助理
      </th>
      <th nowrap>
        备注
      </th>
      <th nowrap>
        删除
      </th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%for p in @remun%>
    <tr class="row<%=i % 2%>">
        <td>
      <%=User.find_by_code(p.assistant).name%>
      </td>
      <td>
        <%=p.remark%>
      </td>
      <td>
        <%if  p.rmb==0%>
          <%=button_to "删除",{:action=>"delete_2",:id=>p},:confirm=>"您确认要删除吗？"%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>
  </tbody>
  </table>
</body>
</html>