<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>修改仲裁庭费用支出</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="title"><span class="cBlue">修改 仲裁庭费用支出</span></div><br/>
    <%=link_to "返回",:action=>"list",:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]%>
    <div style="color:red">
     <div align="center"><%=flash[:notice]%></div>
    </div>
    <div align="center">
      <%form_for :arbitcourt_spend ,:url=>{:action=>"update",:id=>params[:id],:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]}  do |f|%>
    </div>
    <table class="list">  
        <tr>
          <th>开庭日期:</th>
          <td align="left" width="68%">
            <% op = TbSitting.find(:all,:conditions=>["used='Y' and recevice_code=?",params[:recevice_code]],:order=>'sittingdate',:select=>"sittingdate")%>
            <%=f.collection_select(:sittingdate,op,:sittingdate,:sittingdate)%>   
            <div style="color:red"><%=error_message_on(:arbitcourt_spend,:sittingdate)%></div>
          </td>
        </tr>

        <tr>
          <th>费用类型:</th>
          <td align="left">
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0037' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:typ,op,:data_val,:data_text)%>            
            <div style="color:red"><%=error_message_on(:arbitcourt_spend,:typ)%></div>
          </td>
        </tr>      
              
        <tr>
          <th>金额(￥):</th>
          <td align="left">
            <%=f.text_field(:rmb_money)%>           
            <div style="color:red"><%=error_message_on(:arbitcourt_spend,:rmb_money)%></div>
          </td>
        </tr>   
         
        <tr>
          <th>备注:</th>
          <td align="left">
            <%=f.text_area(:remark,:rows=>4)%>               
            <div style="color:red"><%=error_message_on(:arbitcourt_spend,:remark)%></div>
          </td>
        </tr>            
             
       </table>
       <div align="center"><%=submit_tag "提交" %></div>  
    <%end%>
  </body>
</html>