<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>案件 仲裁报酬奖惩信息维护</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <%if session[:recevice_code_2]==nil%>
    <script language="javascript">
      window.open("/case_p/list_2?contr_r=bonus_penalty&act_r=list","mainFrame")
    </script>
  <%end%>
</head>
<body>
<div class="title"><span class="cBlue">仲裁报酬奖惩信息</span></div>
<div align="center">
  <%if @case==nil%>
    请选择您要办理的案件
  <%end%>
  <%=button_to "案件选择", :controller=>'case_p',:action=>"list_2",:contr_r=>"bonus_penalty",:act_r=>"list"%>
  <br>
  <%if @case!=nil%>
    当前案件
  </div>
  <table cellspacing="1" class="adminlist">
    <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
    </tbody>
  </table>
  <br>
  <br>
  <hr size="1" color="#99CCFF" noshade>
  <br>
  <div align="center" class="cDGray">
   仲裁报酬奖惩信息  <%if @arbitman.empty?%> <%else%> <%=link_to  "批量修改",{:action=>"edit_all"}%> <%end%> 
    <div style="color:red"><%=flash[:notice]%></div>
  </div>
  <table cellspacing="1" class="adminlist">
  <thead>
    <tr >
      <th nowrap>
        办案人
      </th>
      <th nowrap>
        姓名
      </th>
      <th nowrap>
        基本报酬数额
      </th>
      <th nowrap>
        基本报酬奖励比例
      </th>
      <th nowrap>
        基本报酬惩罚比例
      </th>
      <th nowrap>
        稿酬
      </th>
      <th nowrap>
        奖惩原因
      </th>
      <th nowrap>
        合计
      </th>
      <th nowrap>
        修改
      </th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%for p in @arbitman%>
    <tr class="row<%=i % 2%>">
        <td>
      <%=TbDictionary.find(:first,:conditions=>"typ_code='0014' and data_val='#{TbCasearbitman.find(:first,:conditions=>"used='Y' and recevice_code='#{p.recevice_code}' and arbitman='#{p.p}'",:order=>"arbitmantype").arbitmantype}'").data_text%>
      </td>
      <td>
        <%=TbArbitman.find_by_code(p.p).name%>
      </td>
      <td>
        <%=p.zc_rmb%>
      </td>
      <td>
        <%=p.bonus%>%
      </td>
      <td>
        <%=p.penalty%>%
      </td>
      <td>
        <%=p.gc_rmb%>
      </td>
      <td>
          <%=h p.reason%>
      </td>
      <td>
        <%=(p.zc_rmb * (1 + p.bonus/100 - p.penalty/100) + p.gc_rmb).round.to_i%>
      </td>
      <td>
        <%if p.extend_code==''%>
          <%=link_to "修改",:action=>"edit",:id=>p%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>

  <%for p in @assistant%>
    <tr class="row<%=i % 2%>">
      <td>
      助理
      </td>
      <td>
        <%=User.find_by_code(p.p).name%>
      </td>
      <td>
        <%=p.zc_rmb%>
      </td>
      <td>
        <%=p.bonus%>%
      </td>
      <td>
        <%=p.penalty%>%
      </td>
      <td>
        <%=p.gc_rmb%>
      </td>
      <td>
          <%=h p.reason%>
      </td>
      <td>
        <%=(p.zc_rmb * (1 + p.bonus/100 - p.penalty/100) + p.gc_rmb).round%>
      </td>
      <td>
        <%if p.extend_code==''%>
          <%=link_to "修改",:action=>"edit",:id=>p%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>

  </tbody>
  </table>
<%end%>
</body>
</html>