<html>
  <head>
    <title>内部函查看</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript">   
      function show_word() {
        document.all.MyOffice.Open("<%=@doc_path%>",true);               
        } 
    </script> 
  </head>
  <body onload="show_word();">
    <br>
    <%=link_to "返回",:action=>"list"%>
    案件咨询号:<%=@doc.recevice_code%> 文件编号:<%=@doc.file_code%> 函件类型:<%=TbDocFormat.find_by_code(@doc.typ_code).name%>
    <!--<div class="title"><span class="cBlue">内部函查看</span></div>-->
    <input id="Button1" type="Button" value="页面刷新" onclick="document.all.MyOffice.ReplaceText('abcdefg','abcdefg',0);document.all.MyOffice.ReplaceText('abcdefg','abcdefg',1)" />
    <object id="MyOffice" name = "MyOffice" style="LEFT: 0px; WIDTH: 100%; TOP: 0px; HEIGHT: 96%" classid="clsid:00460182-9E5E-11D5-B7C8-B8269041DD57" codebase="dsoframer.ocx#version=2,2,0,0" >
    </object>  
    
  </body>
</html>