<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>校核工作信息维护</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title"><span class="cBlue">校核工作信息维护</span></div>
  <div align="center" class="cDGray">
    校核工作信息维护
    <%if @remun.empty?%> <%else%> <%=link_to  "批量修改",{:action=>"edit_all_2"}%> <%end%>  <div style="color:red"><%=flash[:notice]%></div>
  </div>
  <table cellspacing="1" class="adminlist">
  <thead>
    <tr >
      <th nowrap>
        校核类型
      </th>
      <th nowrap>
        校核人员
      </th>
      <th nowrap>
        金额
      </th>
      <th nowrap>
        类别和档次
      </th>
      <th nowrap>
        备注
      </th>
      <th nowrap>
        修改
      </th>
      <th nowrap>
        删除
      </th>
    </tr>
  </thead>
  <tbody>
  <%i=0%>
  <%for p in @remun%>
    <tr class="row<%=i % 2%>">
        <td>
      <%=TbDictionary.find(:first,:conditions=>"typ_code='0040' and data_val='#{p.typ}'").data_text%>
      </td>
      <td>
        <%=User.find_by_code(p.p).name%>
      </td>
      <td>
        <%=p.rmb%>
      </td>
      <td>
        <%=p.grade%>
      </td>
      <td>
        <%=p.remark%>
      </td>
      <td>
        <%if TbBonusPenalty.find(:first,:conditions=>"recevice_code='#{session[:recevice_code_2]}' and typ='0003' and p='#{p.p}' and used='Y' and extend_code=''")!=nil %>
          <%=link_to "修改",:action=>"edit_2",:id=>p%>
        <%end%>
      </td>
      <td>
        <%if TbBonusPenalty.find(:first,:conditions=>"recevice_code='#{session[:recevice_code_2]}' and typ='0003' and p='#{p.p}' and used='Y' and extend_code=''")!=nil %>
          <%=button_to "删除",{:action=>"delete_2",:id=>p},:confirm=>"您确认要删除吗？"%>
        <%end%>
      </td>
    </tr>
    <%i=i+1%>
  <%end%>
  </tbody>
  </table>
  <%if flash[:notice]!=nil%>
    <script language="javascript">
     parent.bonus_penalty.location.href=parent.bonus_penalty.location.href;
     parent.bonus_penalty.location.reload(); 
    </script>
  <%end%>
</body>
</html>