<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> 裁决书报校核</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%if session[:recevice_code]==nil%>
      <script language="javascript">
        window.open("/case_p/list?contr_r=award&act_r=award_list","mainFrame")
      </script>
    <%end%>
  </head>
  <body>
    <div class="title"><span class="cBlue">
        裁决书报校核信息
      </span></div>
    <%if @case==nil%>
      <div align="center">
        请选择您要办理的案件
      <%end%>
      <%=button_to "案件选择", :controller=>'case_p',:action=>"list",:contr_r=>"award",:act_r=>"award_list"%>
      <%if @case!=nil%>
        当前案件
      </div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr >
            <th nowrap>
              咨询流水号
            </th>
            <th nowrap>
              咨询日期
            </th>
            <th nowrap>
              立案号
            </th>
            <th nowrap>
              立案日期
            </th>
            <th nowrap>
              申请人
            </th>
            <th nowrap>
              被申请人
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=h @case.recevice_code%>
            </td>
            <td>
              <%=h @case.receivedate%>
            </td>
            <td>
              <%=h @case.case_code%>
            </td>
            <td>
              <%=h @case.nowdate%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
      <hr size="1" color="#99CCFF" noshade/>
      <div align="center" class="cDGray">
        <%=link_to  "创建", :action=>"award_new"%>
        <div style="color:red"><%=flash[:notice]%></div>
      </div>
      <table cellspacing="1" class="adminlist">
        <thead>
          <tr>
            <th>结案类别</th>
            <th>持少数意见的仲裁员</th>
            <th>助理有无意见</th>
            <th>助理意见信息</th>
            <th>修改</th>
            <th>删除</th>
          </tr>
        </thead>
        <tbody>
          <%i=0%>
          <%for p in @award%>
            <tr class="row<%=i % 2%>">
              <td>
                <%=TbDictionary.find(:first,:conditions=>"typ_code='0058'  and  data_val='#{p.end_typ}'").data_text%>
              </td>
              <td>
                <%if p.arbiter!=""%>
                  <%=TbArbitman.find_by_code(p.arbiter).name%>
                <%end%>
              </td>
              <td>
                <%if p.advice==1%>
                  有
                <%else%>
                  无
                <%end%>
              </td>
              <td>
                <%=p.remark%>
              </td>
              <td>
                <%=link_to "修改",:action=>"award_edit",:id=>p%>
              </td>
              <td>
                <%=button_to "删除",{:action=>"award_delete",:id=>p},:confirm=>"您确认要删除吗？"%>
              </td>
            </tr>
            <%i=i+1%>
          <%end%>
        </tbody>
      </table>
    <%end%>
  </body>
</html>