<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <title>案件收费明细信息对照--案件列表</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">案件收费明细信息对照--案件列表</span></div>
   <div align="center">
      <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
      <script src="/javascripts/check.js"></script>
   </div>
   <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          <%if @order=="recevice_code desc"%>
            <%=link_to '咨询流水号↑',:action=>"charge_case_list",:order=>"recevice_code asc",:page=>@charge_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%elsif @order=="recevice_code asc"%>
            <%=link_to '咨询流水号↓',:action=>"charge_case_list",:order=>"recevice_code desc",:page=>@charge_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%else%>
            <%=link_to '咨询流水号',:action=>"charge_case_list",:order=>"recevice_code asc",:page=>@charge_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%end%>
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          选择
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for c in @charge%>
      <tr class="row<%=i % 2%>">
        <td nowrap>
          <%@a=TbCase.find_by_recevice_code(c.recevice_code)%>
          <%if @a!=nil%>
            <%=@a.receivedate%>
          <%end%>
        </td>
        <td nowrap>
          <%=link_to "#{c.recevice_code}",:controller=>'every_casebase',:action=>"every_list",:recevice_code=>"#{c.recevice_code}"%>
        </td>
        <td nowrap>
          <%@a=TbCase.find_by_recevice_code(c.recevice_code)%>
          <%if @a!=nil%>
            <%=@a.nowdate%>
          <%end%>
        </td>
        <td nowrap>
          <%@a=TbCase.find_by_recevice_code(c.recevice_code)%>
          <%if @a!=nil%>
            <%=@a.case_code%>
          <%end%>
        </td>
        <td>
          <%=button_to "选择" ,{:action=>"list",:recevice_code=>c.recevice_code}%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>          
      <%i=i+1%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <%= link_to '上一页', { :page => @charge_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @charge_pages.current.previous %>
            <%=pagination_links( @charge_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines }})%>
            <%= link_to '下一页', { :page => @charge_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @charge_pages.current.next %>

            <%if @charge_pages.current.previous or @charge_pages.current.next%>
              <form action="/charge_correspondence_detail/charge_case_list" method="get" onsubmit="return page_check('page_lines','page');">
                每页<input type=text name='page_lines' id='page_lines' size=2 class="SingleLineInput" value=<%=@page_lines%> />条记录,第
                <input type=text name='page' id='page' size=5 class="SingleLineInput" value=<%= @charge_pages.current.number %> />
                <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                页
                <input type=hidden name='order' value="<%=@order%>" />
                <input type='submit' value='确定' />
              </form>
            <%end%>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>