<input id='arbitman_currency' name='arbitman[currency]' type='text' onkeyup="su();" value='<%=h currency%>' />
<input id='arbitman_rmb_money' name='arbitman[rmb_money]' type='text' onkeyup="su();" value='<%=h rmb_money%>' />
<script language="javascript">
  su();
</script>

