<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>币种信息维护</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">币种信息维护</span></div>
    <br>
      <div align="center"><%=link_to  "创建", :action=>"new"%>
      <div style="color:red"><%=flash[:notice]%></div> </div>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr>
        <th nowrap="nowrap">
          货币编码
        </th>
        <th nowrap="nowrap">
          货币名称
        </th>
        <th nowrap="nowrap">
          汇率
        </th>
        <th nowrap="nowrap">
          备注
        </th>
        <th nowrap="nowrap">
          编辑
        </th>
        <th nowrap="nowrap">
          删除
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for r in @money%>
        <tr class="row<%=i % 2%>">
        <td >
          <%=h r.code%>
        </td>
        <td >
          <%=h r.name%>
        </td>
        <td>
          <%=link_to r.rate,{:action=>'edit_rate',:id=>r}%>&nbsp;&nbsp;
          <%=link_to "汇率修改记录查看",{:action=>'log_rate',:id=>r}%>
        </td>
        <td>
          <%=h r.remark%>
        </td>
        <td >
          <%=link_to "编辑",{:action=>'edit',:id=>r} %>
        </td>
        <td >
          <%=button_to "删除" ,{:action=>'money_delete',:id=>r},:confirm=>"您确认要删除吗？"%>
        </td>
        <%i=i+1%>
      <%end%>
      </tbody>
    </table>
  </body>
</html>
