<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>仲裁员案外评价</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">仲裁员案外评价列表</span></div>
    <!--添加查询项的-->
    <br>
      <div align="center"><%= link_to "添加", :action => "new_prize" %></div><br>
        <table cellspacing="1" class="adminlist">
      <thead>
      <tr>
        <th nowrap="nowrap">仲裁员姓名</th>
        <th nowrap="nowrap">评价内容</th>
        <th nowrap="nowrap">记录添加人</th>
        <th nowrap="nowrap">修改</th>
        <th nowrap="nowrap">删除</th>        
      </tr>
      </thead>
      <tbody>
        <%i=0%>
      <% if @tb_prizes != nil
          for tb_prize in @tb_prizes %>
              <tr class="row<%=i % 2%>">
                <td><%= tb_prize.arbitmanname %></td>
                <td><%= tb_prize.note %></td>
                <td><%= TbArbitman.find_by_code(tb_prize.clerk_id).name %></td>
                <td><%= link_to "修改", {:action => "edit_prize",:id => tb_prize,:search_condit=>@search_condit,:order=>@order,:page=>@tb_prize_pages.current.number,:page_lines=>@page_lines} %></td>
                <td><%= link_to "删除", {:action => "delete_prize",:id => tb_prize,:search_condit=>@search_condit,:order=>@order,:page=>@tb_prize_pages.current.number,:page_lines=>@page_lines}, :confirm => "确定删除?", :method => "post" %></td>
              </tr>
              <%i=i+1%>
          <%end%>
      <%end%>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <%= link_to '上一页', { :page => @tb_prize_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @tb_prize_pages.current.previous %>
          <%=pagination_links( @tb_prize_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
          <%= link_to '下一页', { :page => @tb_prize_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @tb_prize_pages.current.next %>
        
          <%if @tb_prize_pages.current.previous or @tb_prize_pages.current.next%>
            <form action="/appraise/list_prize" method="get" >
              每页<input type=text name='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
              <input type=text name='page' size=5 class="SingleLineInput" value=<%= @tb_prize_pages.current.number %> />
              <input type=hidden name='search_condit' value="<%=@search_condit%>" />
              页
              <input type=hidden name='order' value="<%=@order%>" />
              <input type='submit' value='确定' />
            </form>
          <%end%>
        </td>
      </tr>
    </tfoot>
    </table>
    
  </body>
</html>
