<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>重新审理</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="title"><span class="cBlue">
        重新审理
    </span></div>
    <br/>
    <%=button_to "重新选择",:action=>"list"%>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr >
          <th nowrap>
            咨询流水号
          </th>
          <th nowrap>
            咨询日期
          </th>
          <th nowrap>
            立案号
          </th>
          <th nowrap>
            立案日期
          </th>
          <th nowrap>
            申请人
          </th>
          <th nowrap>
            被申请人
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=h @case.recevice_code%>
          </td>
          <td>
            <%=h @case.receivedate%>
          </td>
          <td>
            <%=h @case.case_code%>
          </td>
          <td>
            <%=h @case.nowdate%>
          </td>
          <td>
            <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
            <%ttpp=''%>
            <%for tp in @tp%>
              <%ttpp=ttpp + tp.partyname + " <br>" %>
            <%end%>
            <%if ttpp!=''%>
              <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
            <%end%>
            <%=ttpp%>
          </td>
          <td>
            <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
            <%ttpp=''%>
            <%for tp in @tp%>
              <%ttpp=ttpp + tp.partyname + " <br>" %>
            <%end%>
            <%if ttpp!=''%>
              <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
            <%end%>
            <%=ttpp%>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <hr size="1" color="#99CCFF" noshade/>
    <%form_tag :action=>"final",:recevice_code=>@case.recevice_code do %>
      <table align="center">
        <tr><td nowrap>
            <div class="cDRed">确定要重新审理此案吗?(请谨慎操作此项)
            </div>
        </td></tr>
        <tr><td>
            <br/>
            <%=submit_tag "确定" %> <%#=reset_tag "取消" %>
        </td></tr>
      </table>
    <%end%>
    <br/>
    <div class="cGreen"> <%=flash[:notice]%> </div>
  </body>
</html>