<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>培训列表</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
     <div class="title"><span class="cBlue">培训列表</span></div>
     <!--train，即培训的列表-->
     <br>
     <div align="center">
    <%=link_to "返回", :action => "show_arbitman", :id => @tb_arbitman.id%>
     </div><br>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr>
        <th nowrap>会议名称</th>
        <th nowrap>会议时间</th>
        <th nowrap>备注</th>
      </tr>
      </thead>
      <tbody>
        <%i=0%>
      <%if @tb_trains != nil
          for tb_train in @tb_trains%>
              <tr class="row<%=i % 2%>">
                <td><%= tb_train.name%> </td>
                <td><%= tb_train.date%> </td>
                <td><%= tb_train.remark%> </td>
              </tr>
              <%i=i+1%>
          <%end%>
      <%end%>
      </tbody>
    </table>        
  </body>
</html>
