<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加结案处理</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="cDGray" align="center">添加结案处理(带<i>*</i>为必填项)  <%=link_to "返回",:action=>"caseendbook_list"%>
      <div style="color:red"><%=flash[:notice]%></div>
    </div>
    <%form_for :caseendbook ,:url=>{:action=>"caseendbook_create"}  do |f|%>
      <table class="list">
        <tr>
          <th nowrap>
            申请人:
          </th>
          <td>
            <%@party=TbParty.find(:first,:conditions=>"recevice_code='#{session[:recevice_code]}' and partytype=1 and used='Y'",:order=>'id')%>
            <%if @party!=nil%>
              <%=@party.partyname%>
            <%else%>
            <%end%>
          </td>
        </tr>
        <tr>
          <th nowrap>
            被申请人:
          </th>
          <td>
            <%@party=TbParty.find(:first,:conditions=>"recevice_code='#{session[:recevice_code]}' and partytype=2 and used='Y'",:order=>'id')%>
            <%if @party!=nil%>
              <%=@party.partyname%>
            <%else%>
            <%end%>
          </td>
        </tr>
        <tr >
          <th nowrap>
            结案时间:
          </th>
          <td>
            <%=f.text_field(:decideDate,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('caseendbook_decideDate'),'yyyy-MM-dd')" >

          </td>
        </tr>

        <tr >
          <th nowrap>
            结案方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8117' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:endStyle,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr>
          <th nowrap>
            送交申请人日期:
          </th>
          <td>
            <%=f.text_field(:sendDate,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('caseendbook_sendDate'),'yyyy-MM-dd')" >

          </td>
        </tr>
        <tr >
          <th nowrap>
            送达方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8118' and state='Y'",:order=>'data_val',:select=>"data_val,data_text",:order=>"data_val desc")%>
            <%=f.collection_select(:sendStyle,op,:data_text,:data_text)%>
          </td>
        </tr>

        <tr >
          <th nowrap>
            被送交申请人日期:
          </th>
          <td>
            <%=f.text_field(:isSendDate,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('caseendbook_isSendDate'),'yyyy-MM-dd')" >

          </td>
        </tr>

        <tr >
          <th nowrap>
            被送达方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8119' and state='Y'",:order=>'data_val',:select=>"data_val,data_text",:order=>"data_val desc")%>
            <%=f.collection_select(:isSendStyle,op,:data_val,:data_text)%>
          </td>
        </tr>

      </table>
      <div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
  </body>
</html>
