<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>办案报酬明细表(非中行)</title>
  <%= javascript_include_tag "prototype" %>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <script src="/javascripts/pub.js"></script>
  <script language="javascript">
  function to_txt(){
        alert("开始导出非中行报酬!");
        try
       {
        var fso = new ActiveXObject("Scripting.FileSystemObject");
         try
         {
           var f = fso.createtextfile("d:\\BAOCHOU_非中行_<%=Time.now.to_date.to_s(:db)%>.txt",true);
           f.WriteLine("PAYOFFSTART");
           f.WriteLine("|47669|771857928045|0|CNY|<%=@tb_extends.sum{|r| r.extend_rmb}%>|<%=@tb_extends.size%>|EV|<%=Time.now.to_date.to_s(:db).delete!("-")%>||");
           <%for tb_e in @tb_extends %>
             a="<%= tb_e.bank_code %>|<%=tb_e.extend_rmb%>|<%=tb_e.bank_account%>|<%=tb_e.p_name%>|||"
             f.WriteLine(a);
           <%end%>
           f.WriteLine("PAYOFFEND");
           f.close();
           alert("导出完成!，导出文件为d:\\BAOCHOU_非中行_<%=Time.now.to_date.to_s(:db)%>.txt");
          }
          catch (e)
          {
            alert("由于客户端 windows api 错误导致word调用出错，请重试生成。如果还是不能解决，请重新启动计算机后再次重试。");
           }
        }
        catch (e)
        {
          alert("word调用失败，请把浏览器的安全设置中的【ActiveX控件和插件】相关设置为启用状态。");
        }
        }

  </script>
</head>
<body>
  <br/>
  <div align="center">
    <input  id='to_txt' type='button' value='导出到文本文件' onclick="to_txt();"/>
     <input id="to_word" type="button" value='导出word' onclick="document.getElementById('to_word').style.display='none';to_word();document.getElementById('to_word').style.display='block';"/>
  </div>
  <br/>
  <table class="adminlist" cellspacing="1">
    <thead>
    <tr>
      <th nowrap colspan="6"><div align="center"><%=@title%></div></th>
    </tr>
    <tr> 
      <!--
      <th nowrap>序号</th>
      <th nowrap>人员类别</th>
      <th nowrap>姓名</th>
      -->
      <!--
      <th nowrap>银行类别</th>
      <th nowrap>银行</th>
      <th nowrap>账号</th>
      <th nowrap>身份证号</th>
      <th nowrap>受案号</th>
      -->
      <!--
      <th nowrap>类型</th>
      -->
      <th nowrap>银行类别</th>
      <th nowrap>银行编号</th>
      <th nowrap>实发数</th>
      <th nowrap>账号</th>
      <th nowrap>姓名</th>
      <th nowrap>备注</th>
    </tr>
    </thead>
      <tbody>
        <%j=0%>
   <%i=1%>
   <% if @tb_extends != nil
    for tb_extend in @tb_extends %>        
        <tr class="row<%=j % 2%>">
          <!--
          <td nowrap><%#=  i %></td>
          <td nowrap><%#=@p_typ2[tb_extend.p_typ]%></td>
          -->
          <!--
          <td>
            <%#if tb_extend.bank_typ!=nil and tb_extend.bank_typ!=''%>
              <%#=@bank_typ[tb_extend.bank_typ]%>
            <%#end%>
          </td>
          <td nowrap><%#=  tb_extend.bankname%></td>
          <td nowrap><%#=  tb_extend.bank_account%></td>
          <td nowrap><%#=  tb_extend.id_card%></td>
          <td nowrap><%#=  tb_extend.case_code%></td>
          -->
          <!--
          <td nowrap>
            <%#if tb_extend.typ=='4' or tb_extend.typ=='5'%>
              <%#=TbDictionary.find(:first,:conditions=>"typ_code='0050' and data_val='#{TbRemuneration23.find_by_extend_id(tb_extend.id).typ}'").data_text%>
            <%#else%>
              <%#=@typ2[tb_extend.typ]%>
            <%#end%>
          </td>
          -->
          <td nowrap><%= @bank_typ[tb_extend.bank_typ] unless tb_extend.bank_typ.blank? %></td>
          <td nowrap><%= tb_extend.bank_code %></td>
          <td nowrap><%= SysArg.round2f(tb_extend.extend_rmb) %></td>
          <td nowrap><%= tb_extend.bank_account%></td>
          <td nowrap>
             <%=tb_extend.p_name%>
          </td>
          <td><%= tb_extend.remark %></td>
        </tr>
        <%i+=1%>
        <%j=j+1%>
    <%end%>    
    <%end%>
        <tr>
          <td colspan="2">合计</td>
          <td><%=SysArg.round2f(@tb_extends.sum{|t| t.extend_rmb})%></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="6">审批:</td>
        </tr>
        <tr>
          <td colspan="3">复审：</td>
          <td colspan="2">会计：</td>
          <td >出纳：</td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <%= link_to '上一页', 
              { :page => @extend_pages.current.previous ,
                :general_code=>@general_code,
                :case_code=>@case_code,
                :recevice_code =>@recevice_code,
                :end_code =>@end_code,
                :p_typ => @p_typ,
                :p => @p,
                :page_lines=>@page_lines  } if @extend_pages.current.previous %>
          <%=pagination_links( @extend_pages,
              {:params=>{:general_code=>@general_code,
                         :case_code=>@case_code,
                :recevice_code =>@recevice_code,
                :end_code =>@end_code,
                :p_typ => @p_typ,
                :p => @p,                         
                         :page_lines=>@page_lines  }})%>
          <%= link_to '下一页', 
              { :page => @extend_pages.current.next ,
                :general_code=>@general_code,
                :case_code=>@case_code,
                :recevice_code =>@recevice_code,
                :end_code =>@end_code,
                :p_typ => @p_typ,
                :p => @p,                
                :page_lines=>@page_lines  } if @extend_pages.current.next %>

          <%if @extend_pages.current.previous or @extend_pages.current.next%>
            <form action="/t_extend/list_extend_b" method="get" >
              每页<input type=text name='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
              <input type=text name='page' size=5 class="SingleLineInput" value=<%= @extend_pages.current.number %> />
              <input type=hidden name='general_code' value="<%=@general_code%>" />
              页
              <input type=hidden name='case_code' value="<%=@case_code%>" />
              <input type='submit' value='跳转' />
            </form>
          <%end%>
        </td>
      </tr>
    </tfoot>
    </table>
</body>
</html>

