<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>秘书处例会纪要</title>
  <%= javascript_include_tag "prototype" %>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="title"><span class="cBlue">秘书处例会列表</span></div>
<div align="center">
  <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
</div>
<div align="center"><%= link_to "添加例会记录", :action => "new_regular_meeting",:page=>params[:page],:page_lines=>params[:page_lines]%></div>
<div style="color:red"><%=flash[:notice]%></div>
<table class="adminlist" cellspacing="1">
<thead>
  <tr> 
    <th nowrap>序号</th>
    <th nowrap>日期</th>
    <th nowrap>会议记录人</th>
    <th nowrap>内容摘要</th>
    <th nowrap>编辑</th>
    <th nowrap>删除</th>
  </tr>
</thead>
<tbody>
<%j=0%>
<%i=1%>
<% if @regular_meetings != nil
  for regular_meeting in @regular_meetings %>        
    <tr class="row<%=j % 2%>">
        <td><%=  i %></td>
      <td><%=h  regular_meeting.dat%></td>
      <td><%=h  regular_meeting.record_by%></td>
      <td><%=h(truncate(regular_meeting.content,20))%></td>
      <td><%=link_to "修改",{:action => "edit_regular_meeting",:id => regular_meeting, :search_condit=>@search_condit,:order=>@order,:page=>@meeting_pages.current.number,:page_lines=>@page_lines} %></td>
      <td><%=button_to "删除",{:action => "delete_regular_meeting",:id => regular_meeting, :search_condit=>@search_condit,:order=>@order,:page=>@meeting_pages.current.number,:page_lines=>@page_lines}, :confirm => "确认删除?", :method => "post" %></td>
    </tr>
    <%i+=1%>
    <%j=j+1%>
  <%end%>    
<%end%>
</tbody>
<tfoot>
  <tr>
    <td colspan="9">
      <%= link_to '上一页', { :page => @meeting_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @meeting_pages.current.previous %>
      <%=pagination_links( @meeting_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
      <%= link_to '下一页', { :page => @meeting_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @meeting_pages.current.next %>

      <%if @meeting_pages.current.previous or @meeting_pages.current.next%>
        <form action="/regular_meeting/list_regular_meeting" method="get" >
          每页<input type=text name='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
                   <input type=text name='page' size=5 class="SingleLineInput" value=<%= @meeting_pages.current.number %> />
                   <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                   页
                   <input type=hidden name='order' value="<%=@order%>" />
                   <input type='submit' value='跳转' />
        </form>
      <%end%>
    </td>
  </tr>
</tfoot>
</table>
</body>
</html>
