<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <title>案件应收费用信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
      <script src="/javascripts/check.js"></script>
  </head>
  <body>
   
   <table cellspacing="1" class="adminlist">
      <thead>
      <tr>
        <th nowrap>
          收款号
        </th>
        
        <th nowrap>
          付款方名称
        </th>
        <th nowrap>
          付款方式
        </th>
        <th nowrap>
          付款时间
        </th>
        <th nowrap>
          币种
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          汇率
        </th>
        <th nowrap>
          实收费用(￥)
        </th>
        <th nowrap>
          备注
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="row1">
        
        <td>
          <%=@charge.code%>
        </td>
        <td>
          <%=@charge.p%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0034' and data_val='#{@charge.mode}'").data_text%>
        </td>
        <td>
          <%=@charge.c_dt%>
        </td>
        <td>
          <%=Money.find_by_code(@charge.currency).name%>
        </td>
        <td>
          <%=@charge.f_money%>
        </td>
        <td>
          <%=@charge.rate%>
        </td>
        <td>
          <%=@charge.rmb_money%>
        </td>
        <td>
          <%=h @charge.remark%>
        </td>
      </tr>          
      </tbody>
    </table>
   <!--<div class="title"><span class="cBlue">应收费用信息选择  收款号:<%=TbCharge.find(session[:charge_correspondence_charge_id]).code%></span></div>
   -->
   <hr/>
   <div align="center">
      <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
   </div>

   <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          选择
        </th>
        <th nowrap>
          <%if @order=="recevice_code desc"%>
            <%=link_to '咨询流水号↑',:action=>"case_list",:order=>"recevice_code asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%elsif @order=="recevice_code asc"%>
            <%=link_to '咨询流水号↓',:action=>"case_list",:order=>"recevice_code desc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%else%>
            <%=link_to '咨询流水号',:action=>"case_list",:order=>"recevice_code asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%end%>
        </th>
        <th nowrap>
          <%if @order=="ReceiveDate desc"%>
            <%=link_to '咨询日期↑',:action=>"case_list",:order=>"ReceiveDate asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%elsif @order=="ReceiveDate asc"%>
            <%=link_to '咨询日期↓',:action=>"case_list",:order=>"ReceiveDate desc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%else%>
            <%=link_to '咨询日期',:action=>"case_list",:order=>"ReceiveDate asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%end%>
        </th>
        <th nowrap>
          <%if @order=="case_code desc"%>
            <%=link_to '立案号↑',:action=>"case_list",:order=>"case_code asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%elsif @order=="case_code asc"%>
            <%=link_to '立案号↓',:action=>"case_list",:order=>"case_code desc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%else%>
            <%=link_to '立案号',:action=>"case_list",:order=>"case_code asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%end%>
        </th>
        <th nowrap>
          <%if @order=="nowdate desc"%>
            <%=link_to '立案日期↑',:action=>"case_list",:order=>"nowdate asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%elsif @order=="nowdate asc"%>
            <%=link_to '立案日期↓',:action=>"case_list",:order=>"nowdate desc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%else%>
            <%=link_to '立案日期',:action=>"case_list",:order=>"nowdate asc",:charge_id=>session[:charge_correspondence_charge_id],:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
          <%end%>
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
        <th nowrap>
          申请人应收
        </th>
        <th nowrap>
          申请人欠缴
        </th>
        <th nowrap>
          被申请人应收
        </th>
        <th nowrap>
          被申请人欠缴
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for c in @case%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=button_to "选择" ,{:action=>"correspondence_do",:case_id=>c,:recevice_code=>c.recevice_code,:charge_id=>session[:charge_correspondence_charge_id]},:confirm=>"您确认 收款编号:#{TbCharge.find(session[:charge_correspondence_charge_id]).code} 与 立案号:#{c.case_code} 案件咨询号:#{c.recevice_code}的案件 进行对应吗？此操作不可逆！"%>
        </td>
        <td>
          <%=c.recevice_code%>
        </td>
        <td>
          <%=h c.receivedate%>
        </td>
        <td>
          <%=h c.case_code%>
        </td>
        <td>
          <%=h c.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%=c.m_rmb_money%>
        </td>
        <td>
          <%=c.m_lack_rmb_money%>
        </td>
        <td>
          <%=c.m_rmb_money_2%>
        </td>
        <td>
          <%=c.m_lack_rmb_money_2%>
        </td>
      </tr>          
      <%i=i+1%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <%= link_to '上一页', { :page => @case_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.previous %>
            <%=pagination_links( @case_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines }})%>
            <%= link_to '下一页', { :page => @case_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.next %>

            <%if @case_pages.current.previous or @case_pages.current.next%>
              <form action="/charge_correspondence/case_list" method="get" onsubmit="return page_check('page_lines','page');">
                每页<input type=text name='page_lines' id='page_lines' size=2 class="SingleLineInput" value=<%=@page_lines%> />条记录,第
                <input type=text name='page' id='page' size=5 class="SingleLineInput" value=<%= @case_pages.current.number %> />
                <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                页
                <input type=hidden name='order' value="<%=@order%>" />
                <input type='submit' value='确定' />
              </form>
            <%end%>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>