<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加案件费用减交</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
      <%= javascript_include_tag :defaults%>
    <script language="javascript">
       function r_s(){
        new Ajax.Request('/reduction/rate_set?money_code='+document.getElementById("reduction_currency").value, {asynchronous:true, evalScripts:true});
        return false;
      }
       function su(){
        document.getElementById("reduction_rmb_money").value=document.getElementById("reduction_f_money").value * document.getElementById("reduction_rate").value;
      }
      function r_s_2(){
       new Ajax.Request('/reduction/p_set?p_typ='+document.getElementById("reduction_consultant").value, {asynchronous:true, evalScripts:true});
       return false;
      }
      function m(){

        return a;
      }
    </script>
  </head>
  <body>
    <div class="cDGray" align="center">添加 案件费用减交信息
      <%=link_to "返回",:action=>"reduction_list"%>
    </div>
    <hr size="1" color="#99CCFF" noshade/>
    <%@should_charge=TbShouldCharge.find(params[:id])%>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          费用类型
        </th>
        <th nowrap>
          交款方
        </th>
        <th nowrap>
          币种
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          汇率
        </th>
        <th nowrap>
          应收费用(￥)
        </th>
        <th nowrap>
          收款编号
        </th>
        <th nowrap>
            实际收费用(￥)
        </th>
        <th nowrap>
          备注
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="row1">
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0031' and data_val='#{@should_charge.typ}'").data_text%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0032' and data_val='#{@should_charge.payment}'").data_text%>
        </td>
        <td>
          <%=Money.find_by_code(@should_charge.currency).name%>
        </td>
        <td>
          <%=@should_charge.f_money%>
        </td>
        <td>
          <%=@should_charge.rate%>
        </td>
        <td>
          <%=@should_charge.rmb_money%>
        </td>
        <td>
          <%corr=TbChargeCorr.find(:all,:conditions=>"state=2 and used='Y' and should_charge_id='#{@should_charge.id}'",:order=>"charge_id")%>
           <%for c in corr%>
             <%if c.charge_id!=nil%>
              <%=TbCharge.find(c.charge_id).code%>(金额:<%=TbCharge.find(c.charge_id).rmb_money%>rmb)
             <%else%>
             <%end%>
             <br/>
           <%end%>
        </td>
        <td>
          <%=@should_charge.re_rmb_money%>
        </td>
        <td>
          <%=@should_charge.remark%>
        </td>
      </tr>          
      </tbody>
    </table>
    <hr size="1" color="#99CCFF" noshade/>
    <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :reduction,:url=>{:action=>"reduction_create"},:html=>{:onsubmit=>"return m();"}  do |f|%>
      <table class="list">
        <tr>
          <th>
           助理:
          </th>
          <td>
            <%u=User.find_by_sql("select code ,name from users where used='Y' and states='Y' and code in (select user_code from user_duties where duty_code='0003') order by name")%>
            <%=f.collection_select(:receptionist,u,:code,:name)%>
          </td>
        </tr>
        <tr>
          <th>
             减交方:
          </th>
          <td>
            <%=TbDictionary.find(:first,:conditions=>"typ_code='0032' and data_val='#{@reduction.consultant}'").data_text%>
            <%=f.hidden_field(:consultant)%>
          </td>
        </tr>
        <!--
        <tr>
          <th>
            减交人:
          </th>
          <td>
            <div id='pv_set'>
            <%party=TbParty.find(:all,:conditions=>"recevice_code='#{session[:recevice_code]}' and partytype=1 and used='Y'",:order=>'id',:select=>"id,partyname")%>
            <%=f.collection_select(:counselor,party,:id,:partyname)%>
            <i><%=error_message_on(:reduction,:counselor)%></i>
            </div>
          </td>
        </tr>
        -->
        <tr>
          <th>
            申请日期:
          </th>
          <td>
            <%=f.text_field(:apply_date,:size=>8,:readonly => "true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('reduction_apply_date'),'yyyy-MM-dd')" />
          </td>
        </tr>
        <tr>
          <th>
          费用类型: </th>
          <td>
            <%=TbDictionary.find(:first,:conditions=>"typ_code='0031' and data_val='#{@reduction.typ}'").data_text%>
            <%=f.hidden_field(:typ)%>
            <div style="color:red"><%=error_message_on(:reduction,:typ)%></div>
          </td>
        </tr>
        <tr>
          <th>
            币种:
          </th>
          <td>
            <%=Money.find_by_code(@reduction.currency).name%>
            <%=f.hidden_field(:currency)%>
            <%=f.hidden_field(:should_charge_id)%>
          </td>
        </tr>
        <tr>
          <th>
            <i>*</i>金额:
          </th>
          <td>
            <%=f.text_field(:f_money,:onkeyup=>"su();",:onchange=>"su();")%>
            <div style="color:red"><%=error_message_on(:reduction,:f_money)%></div>
          </td>
        </tr>
        <tr>
          <th>
            汇率:
          </th>
          <td>
            <div id='rate_set'>
              <%=@reduction.rate%>
              <%=f.hidden_field(:rate,:readonly=>"true",:onkeyup=>"su();",:onchange=>"su();")%>
            </div>
            <div style="color:red"><%=error_message_on(:reduction,:rate)%></div>
          </td>
        </tr>

        <tr>
          <th>
            <i>*</i>减交费用(￥):
          </th>
          <td>
            <%=f.text_field(:rmb_money,:readonly=>"true")%>
            <div style="color:red"><%=error_message_on(:reduction,:rmb_money)%></div>
          </td>
        </tr>
        <tr>
          <th>
            备注:
          </th>
          <td>
            <%=f.text_area(:remark,:rows=>4)%>
            <div style="color:red"><%=error_message_on(:chargeback,:remark)%></div>
          </td>
        </tr>
      </table>
      <div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
  </body>
</html>
