<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>仲裁员费用支出 信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">仲裁员费用支出 信息</span></div>
    <br>
   当前案件
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          咨询流水号
        </th>
        <th nowrap>
          咨询日期
        </th>
        <th nowrap>
          立案号
        </th>
        <th nowrap>
          立案日期
        </th>
        <th nowrap>
          申请人
        </th>
        <th nowrap>
          被申请人
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%=h @case.recevice_code%>
        </td>
        <td>
          <%=h @case.receivedate%>
        </td>
        <td>
          <%=h @case.case_code%>
        </td>
        <td>
          <%=h @case.nowdate%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
        <td>
          <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{@case.recevice_code}'",:order=>"id")%>
          <%ttpp=''%>
          <%for tp in @tp%>
            <%ttpp=ttpp + tp.partyname + " <br>" %>
          <%end%>
          <%if ttpp!=''%>
            <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
          <%end%>
          <%=ttpp%>
        </td>
      </tr>         
      </tbody>
    </table>
    <hr size="1" color="#99CCFF" noshade>
   <div class="cDGray"> <%=link_to  "创建", :action=>"new",:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]%>  <%=link_to  "返回", :action=>"case_list",:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]%></div>
    
    <div style="color:red"><%=flash[:notice]%></div>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          开庭日期
        </th>
        <th nowrap>
          仲裁员类型
        </th>
        <th nowrap>
          仲裁员
        </th>
        <th nowrap>
         费用类型
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          备注
        </th>
        <th nowrap>
          修改
        </th>
        <th nowrap>
          删除
        </th>
      </tr>
      </thead>
      <tbody>
      <%i=0%>
      <%for p in @arbitman_spend%>
      <tr class="row<%=i % 2%>">
        <td>
          <%=p.sittingdate%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0014' and data_val='#{p.arbitman_typ}'").data_text%>
        </td>
        <td>
          <%=TbArbitman.find_by_code(p.arbitman).name%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0036' and data_val='#{p.typ}'").data_text%>
        </td>
        <td>
          <%=p.rmb_money%>
        </td>
        <td>
          <%=p.remark%>
        </td>
        <td>
          <%=link_to "修改",:action=>"edit",:id=>p,:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]%>
        </td>
        <td>
            <%=link_to "删除",{:action=>"delete",:id=>p,:recevice_code=>params[:recevice_code],:search_condit=>params[:search_condit],:order=>params[:order],:page_lines=>params[:page_lines]},:confirm=>"您确认要删除吗？"%>
        </td>
      </tr>          
      <%i=i+1%>
        <%end%>
      </tbody>
    </table>
    
  </body>
</html>