<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>行业信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="title"><span class="cBlue">行业信息</span></div>
    <br/>
    <div align="center">
      <%= link_to "添加", :action => "industry_select", :arbitman_num => @arbitman_num %>
      <%= link_to "返回", :action => "edit_arbitman", :id => @arbitman_num %>
    </div>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr>
          <th nowrap>序号</th>
          <th nowrap>行业名称</th>
          <th nowrap>删除</th>
        </tr>        
      </thead>
      <tbody>
        <%i=1%>
        <%j=0%>
        <%if @industry != nil
            for industry in @industry %>
                <tr class="row<%=i % 2%>">
                  <td><%= i %></td>
                  <% a = TbDictionary.find_by_typ_code_and_data_val("9100", industry.industry_num) %>
                  <td><%= a.data_text  if a%></td>
                  <td><%= link_to "删除", {:action => "delete_industry", :id => industry, :arbitman_num => @arbitman_num}, :confirm => "确定删除?", :method => "post"  %></td>
                </tr>
                <%i+=1%>
                <%j+=1%>
            <%end%>
        <%end%>
      </tbody>
    </table>
  </body>
</html>
