<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>仲裁员个人信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%= javascript_include_tag  'WebCalendar'%>
    <script language='JavaScript'>
      function check() {
        if (document.getElementById("che").value=='t')
        {
          document.getElementById("che").value='f';
          document.getElementById("tb_arbitman_code").style.display="";
          document.getElementById("tb_arbitman_code").value="";
        }
        else
        {
          document.getElementById("che").value='t';
          document.getElementById("tb_arbitman_code").value="";
          document.getElementById("tb_arbitman_code").style.display="none";
        }
      }
      function aa(){
        a=window.showModalDialog('/region_select/tree',"","dialogWidth=350px;dialogHeight=600px;resizable=1");
        if (a!=null){
          document.getElementById("tb_arbitman_area_code").value=a
        }
      }
      function get_role_code()
      {

        chec = document.getElementsByName("role");
        a='';
        for(i=0; i<chec.length; i++)
        {
            if (chec[i].checked == true)
                a=a+chec[i].value+',';
        }
        document.getElementById("role_code").value=a;

        chec = document.getElementsByName("categ");
        a='';
        for(i=0; i<chec.length; i++)
        {
            if (chec[i].checked == true)
                a=a+chec[i].value+',';
        }
        document.getElementById("category").value=a;
     }
    </script>
  </head>
  <body>
    <div class="title"><span class="cBlue">添加仲裁员</span></div>
    <br/>
    <div align="center">
      <%= link_to "返回" ,:action => "list_arbitman" %>&nbsp;&nbsp;&nbsp;
      (请注意：带<i>*</i>为必填项)
      <%= error_messages_for 'tb_arbitman' %>
    </div>
    <%form_for :tb_arbitman ,:url=>{:action=>"create_arbitman"}, :html =>{:onsubmit=>"get_role_code();"} do |f| %>
      <table class="list">
        <tr>
          <th><i>*</i>仲裁员编号:</th>
          <td><%=f.text_field(:code,:size=>20,:style=>"display:none")%>
            <input type='checkbox'   id='che' name='che' value='t'  onclick="check()" checked/>系统自动生成
            <div style="color:red"><%=error_message_on(:tb_arbitman,:code)%></div>
          </td>
          <th>姓名拼音缩写:</th>
          <td><%=f.text_field :spell%></td>
        </tr>
          <tr>
            <th nowrap>曾用名:</th>
            <td><%=f.text_field :evername%></td>
            <th nowrap>性别:</th>
            <td><%=f.select :sex,[['男','男'],['女','女']]%></td>
          </tr>
          <tr>
            <th nowrap><i>*</i>姓名(系统内唯一):</th>
            <td><%=f.text_field :name%><div style="color:red"><%=error_message_on(:tb_arbitman,:name)%></div></td>
            <th nowrap><i>*</i>姓名(身份证):</th>
            <td><%=f.text_field :name_idcard%><div style="color:red"><%=error_message_on(:tb_arbitman,:name_idcard)%></div></td>
          </tr>
          <tr>
            <th nowrap>英文姓名(身份证):</th>
            <td><%=f.text_field :name_idcard_en%><div style="color:red"><%=error_message_on(:tb_arbitman,:name_idcard_en)%></div></td>
            <th nowrap>英文名字(身份证):</th>
            <td><%=f.text_field :first_name_en%><div style="color:red"><%=error_message_on(:tb_arbitman,:first_name_en)%></div></td>
          </tr>
          <tr>
            <th nowrap>英文姓氏(身份证):</th>
            <td><%=f.text_field :surname_en%><div style="color:red"><%=error_message_on(:tb_arbitman,:surname_en)%></div></td>
            <th nowrap></th>
            <td></td>
          </tr>
          <tr>
            <th nowrap>出生日期:</th>
            <td><%=f.text_field :birthday,:readonly=>"true"%>
              <input type="button" value="..." onclick="SelectDate(document.getElementById('tb_arbitman_birthday'),'yyyy-MM-dd')" />
            </td>
            <th>类型:</th>
            <td>
              <input name="categ" type="checkbox" value="0000" <%if @tb_arbitman.category.index("0000,")%> checked='checked' <%end%> >全部案件</input>
              <% TbDictionary.find(:all,:conditions=>"typ_code='8170' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text").each{|ari| %>
              <input name="categ" type="checkbox" value="<%=ari.data_val %>" <%if @tb_arbitman.category.index(ari.data_val + ",")%> checked='checked' <%end%> ><%=ari.data_text %></input>
              <% }%>
              <input id="category" name="category" type="hidden" value="" />
            </td>
          </tr>
          <tr>
            <th nowrap>所属年度:</th>
            <td><%=f.text_field :yearbelong%></td>
            <th>仲裁规则:</th>
            <td>
              <input name="role" type="checkbox" value="0000" <%if @tb_arbitman.role_code.index("0000,")%> checked='checked' <%end%> >全部案件</input>
              <% TbDictionary.find(:all,:conditions=>"typ_code='8143' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text").each{|ari| %>
              <input name="role" type="checkbox" value="<%=ari.data_val %>" <%if @tb_arbitman.role_code.index(ari.data_val + ",")%> checked='checked' <%end%> ><%=ari.data_text %></input>
              <% }%>
              <input id="role_code" name="role_code" type="hidden" value="" />
            </td>
          </tr>
          <tr>
            <th nowrap>民族:</th>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9003 and state ='Y'"], :order => "data_val", :select => "data_val,data_text") %>
            <td><%=f.collection_select(:nation, @types, :data_val, :data_text)%></td>
            <th nowrap>政治面貌:</th>
            <td><%=f.text_field :polityvisage%></td>
          </tr>
          <tr>
            <th nowrap>称呼:</th>
            <td><%=f.text_field :salutation%></td>
            <th nowrap>单位:</th>
            <td><%=f.text_field :company%></td>
          </tr>
          <tr>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9028 and state ='Y'"], :order => :id, :select => "data_val,data_text") %>
            <th nowrap>所在地类别:</th>
            <td><%=f.collection_select(:area_type, @types, :data_val, :data_text)%></td>
            <th>地区:</th>
            <td>
              <%@area=Region.find(:all,:order=>"code")%>
              <%=f.collection_select(:area_code,@area,:code,:name)%>
              <input type="button" value="选择" onclick="aa()"/>
            </td>
          </tr>
          <tr>
            <th nowrap>国籍(中文):</th>
            <td><%=f.text_field :country%></td>
            <th>所在地(中文):</th>
            <td>
              <%=f.text_field :city%>
            </td>
          </tr>
          <tr>
            <th nowrap>国籍(英文):</th>
            <td><%=f.text_field :country_en%></td>
            <th>所在地(英文):</th>
            <td>
              <%=f.text_field :city_en%>
            </td>
          </tr>
          <tr>
            <th nowrap>工作状况:</th>
            <td><%=f.select :work1,[['在职','1'],['非在职','0']]%></td>
            <th></th>
            <td>
            </td>
          </tr>
          <tr>
            <th nowrap>职业分类:</th>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9002 and state ='Y'"], :order => :id, :select => "data_val,data_text") %>
            <td><%=f.collection_select(:zy, @types, :data_val, :data_text)%></td>
            <th nowrap>身份证号:</th>
            <td><%=@tb_arbitman.id_card%></td>
          </tr>
          <tr>
            <th nowrap>单位电话:</th>
            <td><%=f.text_field :telo%></td>
            <th nowrap>手机:</th>
            <td><%=f.text_field :mobiletel%></td>
          </tr>
          <tr>
            <th nowrap>家庭电话:</th>
            <td><%=f.text_field :telh %></td>
            <th nowrap>传真:</th>
            <td><%=f.text_field :fax%></td>
          </tr>
          <tr>
            <th nowrap>E-mail:</th>
            <td><%=f.text_field :email%></td>
            <th nowrap>身份类型:</th>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9004 and state ='Y'"], :order => :id, :select => "data_val,data_text") %>
            <td><%=f.collection_select(:standing, @types, :data_val, :data_text)%></td>
          </tr>
          <tr>
            <th nowrap>单位类型:</th>
            <%@types = TbDictionary.find(:all, :conditions => ["typ_code = 9005 and state ='Y'"], :order => :id, :select => "data_val,data_text") %>
            <td><%=f.collection_select(:comtype, @types, :data_val, :data_text)%></td>
            <th nowrap>有无高职:</th>
            <td><%=f.select :hightitle,[['有','1'],['无','0']]%></td>
          </tr>
          <tr>
            <th nowrap>通讯地址:</th>
            <td><%=f.text_field :addr%></td>
            <th nowrap>兼职情况:</th>
            <td><%=f.select :secjob,[['在本会兼职','h'],['在其他会兼职','w']]%></td>
          </tr>
          <tr>
            <th nowrap>邮政编码:</th>
            <td><%=f.text_field :postcode%></td>
            <th nowrap>职称:</th>
            <td><%=f.text_field :lawyerdate%></td>
          </tr>
          <tr>
            <th nowrap>推荐人:</th>
            <td><%=f.text_field :lawyernum%></td>
            <th nowrap>职务:</th>
            <td><%=f.text_field :title%></td>
          </tr>
          <tr>
            <th nowrap>状态:</th>
            <td><%if @now != nil%>在聘<%else%>解聘<%end%></td>
            <th nowrap>参加工作时间:</th>
            <td><%=f.text_field :jobstart%></td>
          </tr>
          <tr>
           <th nowrap>工作意愿:</th>
            <td><%=f.text_field :jobwant%></td>
            <th nowrap>能否处理涉外案件 :</th>
            <td><%=f.select :doforeign,[['能','1'],['不能','0']]%></td>
          </tr>
          <tr>
            <th colspan="3"><div align="right">是否本单位仲裁员：</div></th>
            <td><%=f.select :isunit,[['是','Y'],['否','N']] %></td>
          </tr>
          <tr>
            <th colspan="4"><div align="right">两年内担任法律顾问的企业名称:
                <%=f.text_field :advisorycompany,:style=>"width:43em" %></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">主要业务成果:
                <%=f.text_field :outstanding,:style=>"width:43em" %></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">发表的学术成果:
                <%=f.text_field :fruit,:style=>"width:43em"%></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">工作经历:
                <%=f.text_field :workhistory,:style=>"width:43em"%></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">社会团体兼职情况:
                <%=f.text_field :parttime,:style=>"width:43em"%></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">在其它机构办案情况:
                <%=f.text_field :other_org_handling,:style=>"width:43em"%></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">专长(中文):
                <%=f.text_area :special,:style=>"width:43em", :rows => 3 %></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">专长(英文):
                <%=f.text_area :special_en,:style=>"width:43em", :rows => 3 %></div></th>
          </tr>
          <tr>
            <th colspan="4"><div align="right">备注:
                <%=f.text_area :remark,:style=>"width:43em", :rows => 3 %></div></th>
          </tr>
      </table>
      <div align="center">
        <%=submit_tag "全部保存" %>
      </div>
    <%end%>
  </body>
</html>
