<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>业务专长</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
     <div class="title"><span class="cBlue">业务专长选择列表</span></div>
     <br>
    <%= link_to "返回", :action => "list_speciality", :arbitman_num => @arbitman_num %>
    <table class="adminlist" cellspacing="1">
      <thead>
      <tr>
        <th nowrap>
          专业编号
        </th>
        <th nowrap>
          专业名称
        </th>
        <th nowrap>
          选择
        </th>
      </tr>
      </thead>
      <tbody>
        <%i=0%>
      <%if @specials != nil%>
        <%for special in @specials %>
          <tr class="row<%=i % 2%>">
            <td align="left">
              <%=special.data_val %>
            </td>
            <td align="left">
              <%=special.data_text %>
            </td>
            <td align="left">
              <%=button_to "确定", :action => "create_speciality", :arbitman_num => params[:arbitman_num], :speciality_num =>special.data_val %>
            </td>
          </tr>
          <%i=i+1%>
        <%end%>
      <%end%>
      </tbody>
    </table>
  </body>
</html>