<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>裁决书和管辖决定等的起草和修改 信息</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag :defaults%>
    <script language="javascript">
      function r_s(){
       new Ajax.Request('/remuneration4/p_set?p_typ='+document.getElementById("remun_p_typ").value, {asynchronous:true, evalScripts:true}); 
       return false;
      }
    </script>
  </head>
  <body>
    <div class="cDGray" align="center">
 添加  裁决书和管辖决定等的起草和修改   <%=link_to "返回",:action=>"list"%>

 <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :remun ,:url=>{:action=>"create"},:html=>{:onsubmit=>""}  do |f|%>
      <table class="list">  
        <tr>
          <th>
            事项:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0039' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:typ,op,:data_val,:data_text)%>   
            <div style="color:red"><%=error_message_on(:remun,:typ)%></div>
          </td>
        </tr>
        <tr>
          <th>
            人员类型:
          </th>
          <td>
            <%=f.select(:p_typ,[['仲裁员','0001'],['助理','0002']],options={},html_options={:onchange=>"r_s();"})%>                                      
            <div style="color:red"><%=error_message_on(:remun,:p_typ)%></div>
          </td>
        </tr>
        <tr>
          <th>
            人员:
          </th>
          <td>
            <div id='p_s'>
            <%=f.select(:p,@pb)%> 
            </div>
            <div style="color:red"><%=error_message_on(:remun,:p)%></div>
          </td>
        </tr>
        <tr>
          <th>
            备注:
          </th>
          <td>
            <%=f.text_field(:remark,:size=>50)%>                                      
            <div style="color:red"><%=error_message_on(:remun,:remark)%></div>
          </td>
        </tr>                       
      </table>
      <br>
        <div align="center"><%=submit_tag "提交" %></div>

    <%end%>
  </body>
</html>