<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>修改 仲裁中止与恢复</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="cDGray" align="center">修改仲裁中止与恢复(带<i>*</i>为必填项)
      <%=link_to "返回",:action=>"adjudgebrike_list"%>
    </div>
    <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :adjudgebrike ,:url=>{:action=>"adjudgebrike_update",:id=>params[:id],:recevice_code=>params[:recevice_code]} do |f|%>
      <table class="list">
        <tr>
          <th>
            要求中止方:<!--/恢复-->
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8106' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:requestman_type,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr >
          <th>
            <i>*</i>名称:
          </th>
          <td>
            <%=f.text_area(:linkman_name,:rows=>1)%><i><%=error_message_on(:adjudgebrike,:linkman_name)%></i>
          </td>
        </tr>
        <!--tr>
          <th>案件状态：</th>
          <td>
            <#%=f.select(:stoped,[["恢复",0],["中止",1]])%>
          </td>
        </tr-->
        <tr >
          <th>
            中止日期:<!--/恢复-->
          </th>
          <td>
            <%=f.text_field(:end_date,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('adjudgebrike_end_date'),'yyyy-MM-dd')" >
              <i><%=error_message_on(:adjudgebrike,:end_date)%></i>
          </td>
        </tr>

        <tr>
          <th>
            原因:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8107' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:reason,op,:data_val,:data_text)%>

          </td>
        </tr>

        <tr >
          <th>
            是否有特殊情况:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='8108' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:state_flag,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr >
          <th>
            恢复日期:
          </th>
          <td>
            <%=f.text_field(:start_date,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('adjudgebrike_start_date'),'yyyy-MM-dd')" >
          </td>
        </tr>
        <tr >
          <th>
            备注:
          </th>
          <td>
            <%=f.text_area(:remarks,:rows=>4)%>
          </td>
        </tr>
      </table>
      <div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
  </body>
</html>