<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>案件选择</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
      <script src="/javascripts/check.js"></script>
  </head>
  <body>
    <div class="title"><span class="cBlue">
        案件选择
    </span></div>
    <%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
    <table cellspacing="1" class="adminlist">
      <thead>
        <tr >
          <th nowrap>
            咨询流水号
          </th>
          <th nowrap>
            立案号
          </th>
          <th nowrap>
            立案日期
          </th>
          <th nowrap>
            选择
          </th>
          <th nowrap>
            申请人
          </th>
          <th nowrap>
            被申请人
          </th>
          <th nowrap>
            咨询日期
          </th>
          <th nowrap>
            咨询有效期
          </th>
          <th nowrap>
            咨询助理
          </th>
          <th nowrap>
            办案助理
          </th>
        </tr>
      </thead>
      <tbody>
        <%i=0%>
        <%for c in @case%>
          <tr class="row<%=i % 2%>">
            <td nowrap>
              <%=h c.recevice_code%>
            </td>
            <td nowrap>
              <%=h c.case_code%>
            </td>
            <td nowrap>
              <%=h c.nowdate%>
            </td>
            <td nowrap>
              <%=button_to "选择",:action=>"list_1",:recevice_code=>c.recevice_code,:target=>"_blank"%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td>
              <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
              <%ttpp=''%>
              <%for tp in @tp%>
                <%ttpp=ttpp + tp.partyname + " <br>" %>
              <%end%>
              <%if ttpp!=''%>
                <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
              <%end%>
              <%=ttpp%>
            </td>
            <td nowrap>
              <%=h c.receivedate%>
            </td>
            <td>
              <%=h c.recevice_code_limit_dat%>
            </td>
            <td nowrap>
              <%if c.clerk_2!=nil and c.clerk_2!=""%>
                <%=User.find_by_code(c.clerk_2).name%>
              <%end%>
            </td>
            <td nowrap>
              <%if c.clerk!=nil and c.clerk!=""%>
                <%=User.find_by_code(c.clerk).name%>
              <%end%>
            </td>
          </tr>
          <%i=i+1%>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" align="right">
            <%= link_to '上一页', { :page => @case_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.previous %>
            <%=pagination_links( @case_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
            <%= link_to '下一页', { :page => @case_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.next %>

            <%if @case_pages.current.previous or @case_pages.current.next%>
              <form action="/addi/list" method="get" onsubmit="return page_check('page_lines','page');">
                每页<input type=text id='page_lines' name='page_lines' size=5 class="SingleLineInput" value=<%=@page_lines%> />条记录,第
                <input type=text id='page' name='page' size=5 class="SingleLineInput" value=<%= @case_pages.current.number %> />
                <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                页
                <input type=hidden name='order' value="<%=@order%>" />
                <input type='submit' value='确定' />
              </form>
            <%end%>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>