<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加 仲裁员信息披露</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="cDGray" align="center">
  添加 仲裁员信息披露 
   <%=link_to "返回",:action=>"disc_list",:org_id=>params[:org_id],:recevice_code=>params[:recevice_code]%>
   
 <div style="color:red"><%=flash[:notice]%></div>
 </div>
    <%form_for :disc ,:url=>{:action=>"disc_create",:org_id=>params[:org_id],:recevice_code=>params[:recevice_code]}  do |f|%>
      <table class="list">
        <tr>
          <th>
            仲裁员:
          </th>
          <td>
            <%@arbitman_now=TbCasearbitman.find_by_sql("select distinct tb_arbitmen.code as code ,tb_arbitmen.name as name from tb_arbitmen,tb_casearbitmen where tb_casearbitmen.recevice_code='#{params[:recevice_code]}' and  tb_arbitmen.code=tb_casearbitmen.arbitman and tb_arbitmen.used='Y' and tb_casearbitmen.used='Y' order by tb_arbitmen.name")%>
            <%=f.collection_select(:arbitman,@arbitman_now,:code,:name)%>    
            <div style="color:red"><%=error_message_on(:disc,:arbitman)%></div>
          </td>
        </tr>
        <tr>
          <th>
            签署声明日期:
          </th>
          <td>
            <%=f.text_field(:pdate,:size=>10)%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('disc_pdate'),'yyyy-MM-dd')" >
            <div style="color:red"><%=error_message_on(:disc,:pdate)%></div>
          </td>
        </tr>
        <tr>
          <th>
            送交申请人日期:
          </th>
          <td>
            <%=f.text_field(:sendrdate,:size=>10)%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('disc_sendrdate'),'yyyy-MM-dd')" >
            <div style="color:red"><%=error_message_on(:disc,:sendrdate)%></div>
          </td>
        </tr>         
       <tr>
          <th>
            送交申请人方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0017' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:sendrstyle,op,:data_val,:data_text)%>    
            <div style="color:red"><%=error_message_on(:disc,:sendrstyle)%></div>
          </td>
        </tr>      
        <tr>
          <th>
            送达被申请人日期:
          </th>
          <td>
            <%=f.text_field(:sendbdate,:size=>10)%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('disc_sendbdate'),'yyyy-MM-dd')" >
            <div style="color:red"><%=error_message_on(:disc,:sendbdate)%></div>
          </td>
        </tr>         
        <tr>
          <th>
            送交被申请人方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0018' and state='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:sendbstyle,op,:data_val,:data_text)%>  
            <div style="color:red"><%=error_message_on(:disc,:sendbstyle)%></div>
          </td>
        </tr>   
        <tr>
          <th>
            有无披露情形:
          </th>
          <td>
            <%=f.select(:spilu,[['有','Y'],['无','N']])%>    
            
            <div style="color:red"><%=error_message_on(:disc,:spilu)%></div>
          </td>
        </tr>
      </table>
       <div align="center"> <%=submit_tag "提交" %></div>

    <%end%>
  </body>
</html>