<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>修改案件费用减交</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="cDGray" align="center">添加案件费用减交
      <%=link_to "返回",:action=>"reduction_list"%>
    </div>
    <div style="color:red"><%=flash[:notice]%></div>
    <%form_for :reduction,:url=>{:action=>"reduction_update_2",:id=>params[:id]}  do |f|%>
      <table class="list">
        <tr>
          <th>
            <i>*</i>减收总额(￥):
          </th>
          <td>
            <%=@reduction.rmb_money%>
            <div style="color:red"><%=error_message_on(:reduction,:rmb_money)%></div>
          </td>
        </tr>
        <tr>
          <th>
            立案费,受理费(￥):
          </th>
          <td>
            <%=f.text_field(:rmb_money_0002)%>
            <div style="color:red"><%=error_message_on(:reduction,:rmb_money_0002)%></div>
          </td>
        </tr>
        <tr>
          <th>
            仲裁费,处理费(￥):
          </th>
          <td>
            <%=f.text_field(:rmb_money_0003)%>
            <div style="color:red"><%=error_message_on(:reduction,:rmb_money_0003)%></div>
          </td>
        </tr>
      </table>
      <div align="center">
        <%=submit_tag "提交" %>
      </div>
    <%end%>
  </body>
</html>
