<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>对应的应收款信息</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="cDGray" align="center">查看 应收款信息
      <%=link_to "返回",:action=>"reduction_list"%>
    </div>
    <hr size="1" color="#99CCFF" noshade>
    <%@should_charge=TbShouldCharge.find(params[:id])%>
    <table cellspacing="1" class="adminlist">
      <thead>
      <tr >
        <th nowrap>
          费用类型
        </th>
        <th nowrap>
          交款方
        </th>
        <th nowrap>
          币种
        </th>
        <th nowrap>
          金额
        </th>
        <th nowrap>
          汇率
        </th>
        <th nowrap>
          应收费用(￥)
        </th>
        <th nowrap>
          减交(￥)
        </th>
        <th nowrap>
          收款编号
        </th>
        <th nowrap>
            实际收费用(￥)
        </th>
        <th nowrap>
          备注
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="row1">
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0031' and data_val='#{@should_charge.typ}'").data_text%>
        </td>
        <td>
          <%=TbDictionary.find(:first,:conditions=>"typ_code='0032' and data_val='#{@should_charge.payment}'").data_text%>
        </td>
        <td>
          <%=Money.find_by_code(@should_charge.currency).name%>
        </td>
        <td>
          <%=@should_charge.f_money%>
        </td>
        <td>
          <%=@should_charge.rate%>
        </td>
        <td>
          <%=@should_charge.rmb_money%>
        </td>
        <td>
          <%=@should_charge.redu_rmb_money%>
        </td>
        <td>
          <%corr=TbChargeCorr.find(:all,:conditions=>"state=2 and used='Y' and should_charge_id='#{@should_charge.id}'",:order=>"charge_id")%>
           <%for c in corr%>
             <%if c.charge_id!=nil%>
              <%=TbCharge.find(c.charge_id).code%>(金额:<%=TbCharge.find(c.charge_id).rmb_money%>rmb)
             <%else%>
             <%end%>
             <br/>
           <%end%>
        </td>
        <td>
          <%=@should_charge.re_rmb_money%>
        </td>
        <td>
          <%=@should_charge.remark%>
        </td>
      </tr>          
      </tbody>
    </table>
  </body>
</html>
