<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>涉外案件费用表</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="title"><span class="cBlue">涉外案件费用表</span></div>
    <br><br>
      <table  align="center">
        <tr><td>
    <table class="list" align="center">
        <tr>
          <th nowrap>
            争议金额(人民币)
          </th>
          <th nowrap>
            仲裁费用(人民币)
          </th>
        </tr>
        <tr>
          <th nowrap>1,000,000元以下</th>
          <th nowrap>争议金额的 3.5%,最低 不少于10,000元</th>
        </tr>
        <tr>
          <th nowrap>1,000,000元至5,000,000元</th>
          <th nowrap>35,000元+争议金额 1,000,000元以上部分的2.5%</th>
        </tr>
        <tr>
          <th nowrap>5,000,000元至10,000,000元</th>
          <th nowrap>135,000元+争议金额 5,000,000元以上部分的1.5%</th>
        </tr>
        <tr>
          <th nowrap>10,000,000元至50,000,000元</th>
          <th nowrap>210,000元+争议金额 10,000,000元以上部分的1%</th>
        </tr>
        <tr>
          <th nowrap>50,000,000元以上</th>
          <th nowrap>610,000元+争议金额 50,000,000元以上部分的0.5%</th>
        </tr>
      </table>
        </td></tr>
        <tr><td align="left" class="cDRed">
        备注：<br>
        申请仲裁时，每案另收立案费人民币10,000元<br>
        收取的仲裁费用为外币时，按本仲裁费用表的规定收取与人民币等值的外币。
        </td></tr>
      </table>
  </body>
</html>