<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>案件档案提交</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/check.js"></script>
</head>
<body>
<div class="title"><span class="cBlue">档案提交</span></div>
<%=render :partial=>'shared/hant_search_1', :object=>@hant_search_1_page_name%>
<div style="color:red"><%=flash[:notice]%></div>
<table cellspacing="1" class="adminlist">      
<thead>
  <tr >
    <th nowrap>
      操作
    </th>
    <th nowrap>
      状态
    </th>
    <th nowrap>
      <%if @order=="recevice_code desc"%>
          <%=link_to '咨询流水号↑',:action=>"list",:order=>"recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="recevice_code asc"%>
          <%=link_to '咨询流水号↓',:action=>"list",:order=>"recevice_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '咨询流水号',:action=>"list",:order=>"recevice_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap>
      <%if @order=="ReceiveDate desc"%>
          <%=link_to '咨询日期↑',:action=>"list",:order=>"ReceiveDate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="ReceiveDate asc"%>
          <%=link_to '咨询日期↓',:action=>"list",:order=>"ReceiveDate desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '咨询日期',:action=>"list",:order=>"ReceiveDate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap>
      <%if @order=="clerk desc"%>
          <%=link_to '助理↑',:action=>"list",:order=>"clerk asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="clerk asc"%>
          <%=link_to '助理↓',:action=>"list",:order=>"clerk desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '助理',:action=>"list",:order=>"clerk asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap> 
      <%if @order=="case_code desc"%>
          <%=link_to '立案号↑',:action=>"list",:order=>"case_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="case_code asc"%>
          <%=link_to '立案号↓',:action=>"list",:order=>"case_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '立案号',:action=>"list",:order=>"case_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap>   
      <%if @order=="nowdate desc"%>
          <%=link_to '立案日期↑',:action=>"list",:order=>"nowdate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="nowdate asc"%>
          <%=link_to '立案日期↓',:action=>"list",:order=>"nowdate desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '立案日期',:action=>"list",:order=>"nowdate asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap> 
      <%if @order=="general_code desc"%>
          <%=link_to '总案号↑',:action=>"list",:order=>"general_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="general_code asc"%>
          <%=link_to '总案号↓',:action=>"list",:order=>"general_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '总案号',:action=>"list",:order=>"general_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap>
      <%if @order=="end_code desc"%>
          <%=link_to '结案号↑',:action=>"list",:order=>"end_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%elsif @order=="end_code asc"%>
          <%=link_to '结案号↓',:action=>"list",:order=>"end_code desc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%else%>
          <%=link_to '结案号',:action=>"list",:order=>"end_code asc",:page=>@case_pages.current.number,:search_condit=>@search_condit,:page_lines=>@page_lines%>
      <%end%>
    </th>
    <th nowrap>
      申请人
    </th>
    <th nowrap>
      被申请人
    </th>
  </tr>
</thead>
<tbody>
<%i=0%>
<%for c in @case%>
  <tr class="row<%=i % 2%>">
      <td>
    <%if c.state==150%>
        <%=button_to "召回" ,{:action=>'retur',:id=>c ,:search_condit=>@search_condit,:order=>@order,:page=>@case_pages.current.number,:page_lines=>@page_lines} ,:confirm=>"您确认要召回吗？",:method=>"post"%>
    <%else%>
        <%=button_to "提交" ,{:action=>'subm_text',:id=>c ,:search_condit=>@search_condit,:order=>@order,:page=>@case_pages.current.number,:page_lines=>@page_lines} ,:confirm=>"您确认要提交吗？",:method=>"post"%>
    <%end%>
    </td>
    <td>
      <%if c.state==150%>
        已提交
      <%else%>
        未提交
      <%end%>
    </td>
    <td>
      <%=link_to "#{c.recevice_code}",:controller=>'every_casebase',:action=>"every_list",:recevice_code=>"#{c.recevice_code}"%>
    </td>
    <td>
      <%=h c.receivedate%>
    </td>
    <td>
      <%=User.find_by_code(c.clerk).name%>
    </td>
    <td>
      <%=h c.case_code%>
    </td>
    <td>
      <%=h c.nowdate%>
    </td>
    <td>
      <%=h c.general_code%>
    </td>
    <td>
      <%=h c.end_code%>
    </td>
    <td>
      <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=1 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
      <%ttpp=''%>
      <%for tp in @tp%>
          <%ttpp=ttpp + tp.partyname + " <br>" %>
      <%end%>
      <%if ttpp!=''%>
          <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
      <%end%>
      <%=ttpp%>
    </td>
    <td>
      <%@tp=TbParty.find(:all,:conditions=>"used='Y' and partytype=2 and recevice_code='#{c.recevice_code}'",:order=>"id")%>
      <%ttpp=''%>
      <%for tp in @tp%>
          <%ttpp=ttpp + tp.partyname + " <br>" %>
      <%end%>
      <%if ttpp!=''%>
          <%ttpp=ttpp.slice(0,ttpp.length - 5) %>
      <%end%>
      <%=ttpp%>
    </td>
  </tr>
  <%i=i+1%>
<%end%>
</tbody>

<tfoot>
  <tr>
    <td colspan="9">
      <%= link_to '上一页', { :page => @case_pages.current.previous ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.previous %>
      <%=pagination_links( @case_pages,{:params=>{:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  }})%>
      <%= link_to '下一页', { :page => @case_pages.current.next ,:search_condit=>@search_condit,:order=>@order,:page_lines=>@page_lines  } if @case_pages.current.next %>

      <%if @case_pages.current.previous or @case_pages.current.next%>
        <form action="/file_submit/list" method="get" onsubmit="return page_check('page_lines','page');">
          每页<input type=text name='page_lines' id='page_lines' value=<%=@page_lines%> size=5 class="SingleLineInput" />条记录,第
                   <input type=text name='page' id='page' size=5 class="SingleLineInput" value=<%= @case_pages.current.number %> />
                   <input type=hidden name='search_condit' value="<%=@search_condit%>" />
                   页
                   <input type=hidden name='order' value="<%=@order%>" />
                   <input type='submit' value='确定' />
        </form>
      <%end%>
    </td>
  </tr>
</tfoot>
</table>
</body>
</html>