<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List href="Untitled-1.files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>杜永文</o:Author>
  <o:LastAuthor>杜永文</o:LastAuthor>
  <o:Revision>6</o:Revision>
  <o:TotalTime>5</o:TotalTime>
  <o:Created>2012-06-07T02:18:00Z</o:Created>
  <o:LastSaved>2012-06-07T02:24:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>95</o:Words>
  <o:Characters>544</o:Characters>
  <o:Company>YH</o:Company>
  <o:Lines>4</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>638</o:CharactersWithSpaces>
  <o:Version>11.6360</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Print</w:View>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:UseFELayout/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 135135232 16 0 262145 0;}
@font-face
	{font-family:仿宋;
	panose-1:2 1 6 9 3 1 1 1 1 1;
	mso-font-alt:仿宋;
	mso-font-charset:134;
	mso-generic-font-family:modern;
	mso-font-pitch:fixed;
	mso-font-signature:1 135135232 16 0 262144 0;}
@font-face
	{font-family:仿宋;
	mso-font-alt:新宋体;
	mso-font-charset:134;
	mso-generic-font-family:modern;
	mso-font-pitch:fixed;
	mso-font-signature:-2147482945 953122042 22 0 262145 0;}
@font-face
	{font-family:"\@仿宋";
	mso-font-charset:134;
	mso-generic-font-family:modern;
	mso-font-pitch:fixed;
	mso-font-signature:-2147482945 953122042 22 0 262145 0;}
@font-face
	{font-family:"\@仿宋";
	panose-1:2 1 6 9 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:modern;
	mso-font-pitch:fixed;
	mso-font-signature:1 135135232 16 0 262144 0;}
@font-face
	{font-family:Calibri;
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:auto;
	mso-font-signature:0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:宋体;
	mso-bidi-font-family:宋体;}
p
	{mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:宋体;
	mso-bidi-font-family:宋体;}
@page Section1
	{size:595.3pt 841.9pt;
	margin:2.0cm 70.9pt 2.0cm 70.9pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:普通表格;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
table.MsoTableGrid
	{mso-style-name:网格型;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	border:solid windowtext 1.0pt;
	mso-border-alt:solid windowtext .5pt;
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-border-insideh:.5pt solid windowtext;
	mso-border-insidev:.5pt solid windowtext;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:Calibri;
	mso-font-kerning:1.0pt;
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=ZH-CN style='tab-interval:21.0pt'>
<%
now = Time.now
extend_t = now.year.to_s + "年" + now.month.to_s + "月" + now.day.to_s + "日"
flag1 = @extend.length
flag2 = 0

for e in @extend
  #idid = Array.new
  #19.times.each{idid << [""]}
  id = Array.new
  unless e.id_card.blank?
    id = e.id_card.split(//)
  else
    19.times.each{id << [""]}
  end
%>
<div class=Section1>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
line-height:150%;mso-pagination:none;layout-grid-mode:char;mso-layout-grid-align:
none;text-autospace:none'><span lang=EN-US style='font-family:仿宋;
mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
1.0pt;mso-bidi-font-weight:bold'>FP003(</span><span style='font-family:仿宋;
mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
1.0pt;mso-bidi-font-weight:bold'>印刷版<span lang=EN-US> - </span>挂网<span
lang=EN-US> - </span>单联<span lang=EN-US>)<o:p></o:p></span></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
0pt;mso-pagination:none'><span style='font-size:22.0pt;mso-bidi-font-size:18.0pt;
mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
bold'>深圳市地方税务局<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=center style='text-align:center;mso-line-height-alt:
0pt;mso-pagination:none'><span style='font-size:26.0pt;mso-bidi-font-size:22.0pt;
mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
bold'>代 开 发 票 申 请 表</span><span lang=EN-US style='font-size:26.0pt;mso-bidi-font-size:
22.0pt;font-family:仿宋;mso-hansi-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";color:#FF6600;mso-font-kerning:1.0pt;
mso-bidi-font-weight:bold'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
mso-pagination:none'><span lang=EN-US style='font-size:10.5pt;mso-bidi-font-size:
12.0pt;font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
1.0pt'><o:p>&nbsp;</o:p></span></p>

<div align=center>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=654
 style='width:490.8pt;margin-left:-41.9pt;border-collapse:collapse;border:none;
 mso-border-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
 .5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
  bold'>纳税人识别号<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=25 style='width:18.9pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[0]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[1]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.9pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[2]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[3]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[4]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.9pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[5]%></o:p></span></p>
  </td>
  <td width=25 colspan=2 style='width:18.95pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[6]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.9pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[7]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[8]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[9]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[10]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[11]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[12]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[13]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[14]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[15]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[16]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.9pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[17]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[18]%></o:p></span></p>
  </td>
  <td width=25 style='width:18.95pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%=id[19]%></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
  bold'>纳税人名称<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=505 colspan=21 style='width:378.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p><%= e.p_name %></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
  bold'>经办人身份证件<span lang=EN-US><o:p></o:p></span></span></p>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt;mso-bidi-font-weight:
  bold'>名称、号码<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=252 colspan=11 style='width:189.3pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>万里涛、<span lang=EN-US>430224198502167491<o:p></o:p></span></span></p>
  </td>
  <td width=126 colspan=5 style='width:94.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>联系电话<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=126 colspan=5 style='width:94.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt;mso-bidi-font-weight:bold'>83501702<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>地 <span
  lang=EN-US><span
  style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>址<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=505 colspan=21 style='width:378.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>福田区彩田路<span lang=EN-US>5015</span>号中银大厦<span
  lang=EN-US>B座19层<o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>付款方名称<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=505 colspan=21 style='width:378.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>华南国际经济贸易仲裁委员会<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;height:21.0pt'>
  <td width=149 colspan=2 style='width:112.05pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>付款方识别号<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=505 colspan=21 style='width:378.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>440300455763151<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;height:21.0pt'>
  <td width=250 colspan=6 style='width:187.75pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>被挂靠、出包、出租方名称<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=404 colspan=17 style='width:303.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7;height:21.0pt'>
  <td width=250 colspan=6 style='width:187.75pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>被挂靠、出包、出租方识别号<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=404 colspan=17 style='width:303.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8;height:21.0pt'>
  <td width=326 colspan=10 style='width:244.55pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>项<span lang=EN-US><span
  style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>目<span
  lang=EN-US><o:p></o:p></span></span></b></p>
  </td>
  <td width=101 colspan=4 style='width:75.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>数<span lang=EN-US><span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span>量<span
  lang=EN-US><o:p></o:p></span></span></b></p>
  </td>
  <td width=101 colspan=4 style='width:75.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>单<span lang=EN-US><span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span>价<span
  lang=EN-US><o:p></o:p></span></span></b></p>
  </td>
  <td width=126 colspan=5 style='width:94.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>金<span lang=EN-US><span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span>额<span
  lang=EN-US><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9;height:21.0pt'>
  <td width=326 colspan=10 style='width:244.55pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>仲裁服务<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>1<o:p></o:p></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p><%=  SysArg.round2f(e.should_rmb)  %></o:p></span></p>
  </td>
  <td width=126 colspan=5 style='width:94.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p><%=  SysArg.round2f(e.should_rmb)  %></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10;height:21.0pt'>
  <td width=326 colspan=10 style='width:244.55pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=126 colspan=5 style='width:94.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11;height:21.0pt'>
  <td width=326 colspan=10 style='width:244.55pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=101 colspan=4 style='width:75.8pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=126 colspan=5 style='width:94.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.0pt'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12;height:21.0pt'>
   <td colspan=15 style="border-right-style: none;" >
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>合计（人民币大写）：<span
  lang=EN-US><span
  style='mso-spacerun:yes'><%= SysArg.num2chinese(e.should_rmb) %>
  </span></span></span></p>
  </td>
  <td colspan=8  style="border-left-style: none;">
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  mso-pagination:none'><span style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>（小写）<span lang=EN-US><o:p><%= SysArg.round2f(e.should_rmb) -%></o:p></span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13;height:158.75pt'>
  <td width=325 colspan=9 style='width:243.9pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:158.75pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  mso-pagination:none'><b style='mso-bidi-font-weight:normal'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>申 请 人 声 明<span lang=EN-US><o:p></o:p></span></span></b></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:12.0pt;mso-pagination:none'><b style='mso-bidi-font-weight:normal'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:24.0pt;line-height:12.0pt;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>本单位（人）所填报信息及提交的资料真实、准确，如有虚假内容，愿承担法律责任。<span
  lang=EN-US><o:p></o:p></span></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:36.0pt;mso-char-indent-count:3.0;line-height:12.0pt;mso-pagination:
  none'><span lang=EN-US style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;  line-height:12.0pt;mso-pagination:none'>
    <span style='font-family:仿宋;  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning: 1.0pt'>
      法定代表人签名（公章）：</span></p>
  <p class=MsoNormal style='text-align:justify; text-justify:inter-ideograph;  line-height:12.0pt;  mso-pagination:none'>
    <span style='font-family:仿宋;mso-hansi-font-family:  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>
      　　　　　　　　　　　<%=extend_t-%></span></p>
  <p class=MsoNormal style='text-align:justify; text-justify:inter-ideograph;  line-height:12.0pt;  mso-pagination:none'>
    <span style='font-family:仿宋;mso-hansi-font-family:  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>
      经办人签名：　　　　　<%=extend_t-%></span></p>
  </td>
  <td width=329 colspan=14 style='width:246.9pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:158.75pt'>
  <p class=MsoNormal align=center style='text-align:center'><b
  style='mso-bidi-font-weight:normal'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>付 款 方 声 明<span lang=EN-US><o:p></o:p></span></span></b></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b
  style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'><o:p>&nbsp;</o:p></span></b></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><span
  style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp; </span></span><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>本单位（人）经核对，确认申请人所填写的纳税人名称、付款方名称、付款方识别号及项目、数量、金额、合计信息无误。<span
  lang=EN-US><o:p></o:p></span></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  lang=EN-US style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:12.0pt;mso-char-indent-count:1.0;line-height:12.0pt;mso-pagination:
  none'><span style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>付款方经办人签名：<span lang=EN-US><o:p></o:p></span></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  line-height:12.0pt;mso-pagination:none'><span style='font-family:仿宋;
  mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:
  1.0pt'>（公章或财务专用章）<span lang=EN-US><o:p></o:p></span></span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:12.0pt;mso-char-indent-count:1.0;line-height:12.0pt;mso-pagination:
  none'><span lang=EN-US style='font-family:仿宋;mso-hansi-font-family:
  仿宋;mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'><span
  style='mso-spacerun:yes'>
  </span></span><span style='font-family:仿宋;mso-hansi-font-family:仿宋;
  mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>　　　　　　　　　　<%=extend_t-%></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14;mso-yfti-lastrow:yes;height:102.05pt'>
  <td width=73 style='width:55.1pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:102.05pt'>
  <p class=MsoNormal align=center style='text-align:center;mso-pagination:none'><span
  style='font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:
  "Times New Roman";mso-font-kerning:1.0pt'>管理科所意见<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=581 colspan=22 style='width:435.7pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:102.05pt'>

  </td>
 </tr>
 <![if !supportMisalignedColumns]>
 <tr height=0>
  <td width=73 style='border:none'></td>
  <td width=76 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=24 style='border:none'></td>
  <td width=1 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
  <td width=25 style='border:none'></td>
 </tr>
 <![endif]>
</table>

</div>

<p class=MsoNormal style='mso-pagination:none'><span style='font-size:14.0pt;
font-family:仿宋;mso-hansi-font-family:仿宋;mso-bidi-font-family:"Times New Roman";
mso-font-kerning:1.0pt'>受理人：<span lang=EN-US><span
style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>受理日期：<span lang=EN-US><span
style='mso-spacerun:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>年<span
lang=EN-US><span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span>月<span
lang=EN-US><span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span>日<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=right style='text-align:right;mso-pagination:none'><span
lang=EN-US style='font-size:9.0pt;mso-bidi-font-size:12.0pt;font-family:仿宋;
mso-hansi-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-font-kerning:1.0pt'>(</span><span style='font-size:9.0pt;mso-bidi-font-size:
12.0pt;font-family:仿宋;mso-hansi-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";mso-font-kerning:1.0pt'>版本号：<span
lang=EN-US>201101)<span style='mso-spacerun:yes'>&nbsp;&nbsp; </span></span></span><span
lang=EN-US style='font-size:10.5pt;mso-bidi-font-size:12.0pt;font-family:仿宋;
mso-hansi-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
mso-font-kerning:1.0pt'><o:p></o:p></span></p>

</div>
  <% flag2 = flag2 + 1 -%>
  <% if flag2 < flag1 -%>
  <span lang=EN-US style='font-size:15.0pt;font-family:"Times New Roman"'><br clear=all style='page-break-before:always'/></span>
  <% end -%>
<%end-%>
</body>

</html>
