<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加 被申请人答辩信息</title>
    <%= javascript_include_tag  'WebCalendar'%>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="title"><span class="cBlue">添加被申请人答辩信息 </span></div>
    <div align="center"><br/>
      <%=link_to "返回",:action=>"request_list"%>
      <br/>
    </div>
    <div style="color:red">
      <div align="center"><%=flash[:notice]%></div>
    </div>
    <div align="center">
      <%form_for :request ,:url=>{:action=>"request_create"}  do |f|%>
      </div>
      <table class="list">
        <tr>
          <th>
            被申请人:
          </th>
          <td>
            <%party=TbParty.find(:all,:conditions=>"recevice_code='#{session[:recevice_code]}' and partytype=2 and used='Y'",:order=>"id",:select=>"id,partyname")%>
            <%=f.collection_select(:party_id,party,:id,:partyname)%>
            <div style="color:red"><%=error_message_on(:request,:party_id)%></div>
          </td>
        </tr>

        <tr>
          <th>
            请求提交日期:
          </th>
          <td>
            <%=f.text_field(:requestdate,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('request_requestdate'),'yyyy-MM-dd')" />
            <div style="color:red"><%=error_message_on(:request,:requestdate)%></div>
          </td>
        </tr>

        <tr>
          <th>
            提交方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0008' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:rsendstyle,op,:data_val,:data_text)%>
            <div style="color:red"><%=error_message_on(:request,:rsendstyle)%></div>
          </td>
        </tr>

        <tr>
          <th>
            送交对方当事人日期:
          </th>
          <td>
            <%=f.text_field(:rsenddate,:readonly=>"true")%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('request_rsenddate'),'yyyy-MM-dd')" />
            
          </td>
        </tr>

        <tr>
          <th>
            送交对方当事人方式:
          </th>
          <td>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0009' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:asendstyle,op,:data_val,:data_text)%>
            <div style="color:red"><%=error_message_on(:request,:asendstyle)%></div>
          </td>
        </tr>

        <tr>
          <th>
            仲裁请求:
          </th>
          <td>
            <%=f.text_area(:request_text,:rows=>4)%>
            <div style="color:red"><%=error_message_on(:request,:request_text)%></div>
          </td>
        </tr>

        <tr>
          <th>
            事实理由:
          </th>
          <td>
            <%=f.text_area(:factreason,:rows=>4)%>
            <div style="color:red"><%=error_message_on(:request,:factreason)%></div>
          </td>
        </tr>
      </table>
      <div align="center"><%=submit_tag "提交" %></div>
      <%end%>
  </body>
</html>